{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

  <title>Admin - Create Account - Faculty Member </title>

  {% include 'css-main-cdn.html' %}

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    {% include "admin-account-sidebar.html" %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        {% include 'topbar.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-3">
            <h1 class="h3 mb-0 text-gray-800"><i class="fa-solid fa-user-plus"></i> Create Account - Faculty Member</h1>
          </div>

          <!-- User Profile Start -->
          <div class="card border-left-dark shadow h-100 py-2 mb-3">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">

                  <form method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                      <label><sup class='text-danger'>*</sup>Honorific:</label>
                      <select class="custom-select" id="honorific_input" name="honorific_input" required>
                        <option value="" selected>Choose honorific here...</option>
                        <option value="Mr.">Mr.</option>
                        <option value="Ms.">Ms.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Engr.">Engr.</option>
                        <option value="Dr.">Dr.</option>
                        <option value="Dra.">Dra.</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label><sup class='text-danger'>*</sup>First Name:</label>
                      <input type="text" id="first_name_input" name="first_name_input" class="form-control" style="text-transform: capitalize" required />
                    </div>

                    <div class="form-group">
                      <label>Middle Name:</label>
                      <input type="text" id="middle_name_input" name="middle_name_input" class="form-control" style="text-transform: capitalize" />
                    </div>

                    <div class="form-group">
                      <label><sup class='text-danger'>*</sup>Last Name:</label>
                      <input type="text" id="last_name_input" name="last_name_input" class="form-control" style="text-transform: capitalize" required />
                    </div>

                    <div class="form-group">
                      <h6 class="h6 mb-0 text-gray-800 mb-2">Suffix:</h6>
                      <select id="suffix_input" class="custom-select" name="suffix_input">
                        <option selected value="">None</option>
                        <option value="Sr.">Sr.</option>
                        <option value="Jr.">Jr.</option>
                        <option value="I">I</option>
                        <option value="II">II</option>
                        <option value="III">III</option>
                        <option value="IV">IV</option>
                        <option value="V">V</option>
                      </select>
                    </div>

                    {% if dit_head_exist == "exist" %}

                    <!-- Show if DIT Head Account exist -->
                    <div class="form-group">
                      <label><sup class='text-danger'>*</sup>User Account:</label>
                      <select class="custom-select" id="user_account_input" name="user_account_input" required>
                        <option value="" selected>Choose User account here...</option>
                        <option value="Faculty Member">Panel / Adviser / Subject Teacher</option>
                        <option value="Academic Affairs">Academic Affairs</option>
                        <option value="Library">Library</option>
                        <option value="Research & Extension">Research & Extension</option>
                      </select>
                    </div>

                    {% else %}

                    <div class="form-group">
                      <label><sup class='text-danger'>*</sup>User Account:</label>
                      <select class="custom-select" id="user_account_input" name="user_account_input" required>
                        <option value="" selected>Choose User account here...</option>
                        <option value="DIT Head">Department of Industrial Technology Head</option>
                        <option value="Faculty Member">Panel / Adviser / Subject Teacher</option>
                        <option value="Academic Affairs">Academic Affairs</option>
                        <option value="Library">Library</option>
                        <option value="Research & Extension">Research & Extension</option>
                      </select>
                    </div>
                    {% endif %}

                    <div class="form-group">{{form}}</div>

                    <!-- <div class="form-group">
                                            <label for="email">Username</label>
                                            <input type="text" name="username_input" class="form-control" placeholder="TUPC-XX-XXXX">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" name="username_input" class="form-control"
                                                placeholder="firstname.lastname@gsfe.tupcavite.edu.ph">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" name="password" class="form-control">
                                        </div> -->

                    <div class="form-group">
                      <label for="password"><sup class='text-danger'>*</sup>Confirm Password</label>
                      <input type="password" id="confirm_password_input" name="confirm_password_input" class="form-control" required />
                    </div>

                    <button type="button" class="btn btn-outline-success w-100" onclick="validateResearchTitleForm()">
                      Sign Up
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="researchTitleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Account Profile</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">

                            <div class="form-group mb-4">
                              <h6 class="h6 mb-0 text-gray-800 mb-2">Full Name:</h6>
                              <h4 class="h4 mb-0 text-gray-800 mb-2" id="full_name_verification" style="text-transform: capitalize;"></h4>

                              <h6 class="h6 mb-0 text-gray-800 mb-2">User Account:</h6>
                              <h4 class="h4 mb-0 text-gray-800 mb-2" id="user_account_verification"></h4>

                              <h6 class="h6 mb-0 text-gray-800 mb-2">Username:</h6>
                              <h4 class="h4 mb-0 text-gray-800 mb-2" id="username_verification"></h4>

                              <h6 class="h6 mb-0 text-gray-800 mb-2">Email:</h6>
                              <h4 class="h4 mb-0 text-gray-800 mb-2" id="email_verification"></h4>

                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submmit" class="btn btn-outline-success">Confirm - Sign Up</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- User Profile End -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include 'logout-modal.html' %}
  {% include 'script-cdn.html' %}
  {% include 'alert-validation.html' %}

  {% if response == 'sweet invalid suffix' %}
  <script>
    Swal.fire("Invalid", "You just entered a Suffix which is not in the list. Please choose one from the choices given.", "error");
  </script>
  {% endif %}

  <script>
    let honorific_input = document.querySelector("#honorific_input");
    let first_name_input = document.querySelector("#first_name_input");
    let middle_name_input = document.querySelector("#middle_name_input");
    let last_name_input = document.querySelector("#last_name_input");
    let suffix_input = document.querySelector("#suffix_input");

    let user_account_input = document.querySelector("#user_account_input");

    let username_input = document.querySelector("#username_input");
    let email_input = document.querySelector("#email_input");
    let password_input = document.querySelector("#password_input");
    let confirm_password_input = document.querySelector("#confirm_password_input");

    function validateResearchTitleForm() {

      if (!honorific_input.value || honorific_input.value == "") {
        iziToast.error({
          title: "Invalid",
          message: "You didn't input any honorific.",
          position: "topCenter",
          timeout: 5000,
        });
        return
      }

      if (!first_name_input.value || first_name_input.value == "") {
        iziToast.error({
          title: "Invalid",
          message: "You didn't input any First Name.",
          position: "topCenter",
          timeout: 5000,
        });
        return
      }

      if (!last_name_input.value || last_name_input.value == "") {
        iziToast.error({
          title: "Invalid",
          message: "You didn't input any Last Name.",
          position: "topCenter",
          timeout: 5000,
        });
        return
      }

      if (!user_account_input.value || user_account_input.value == "") {
        iziToast.error({
          title: "Invalid",
          message: "You didn't input any Last Name.",
          position: "topCenter",
          timeout: 5000,
        });
        return
      }

      if (!username_input.value || username_input.value == "") {
        iziToast.error({
          title: "Invalid",
          message: "You didn't input any Username.",
          position: "topCenter",
          timeout: 5000,
        });
        return
      }

      if (!email_input.value || email_input.value == "") {
        iziToast.error({
          title: "Invalid",
          message: "You didn't input any Email.",
          position: "topCenter",
          timeout: 5000,
        });
        return
      }

      if (!password_input.value || password_input.value == "") {
        iziToast.error({
          title: "Invalid",
          message: "You didn't input any password.",
          position: "topCenter",
          timeout: 5000,
        });
        return
      }

      if (!confirm_password_input.value || confirm_password_input.value == "") {
        iziToast.error({
          title: "Invalid",
          message: "You didn't input any Confirm Password.",
          position: "topCenter",
          timeout: 5000,
        });
        return
      }
      if (password_input.value != confirm_password_input.value) {
        Swal.fire("Invalid", "Password and Confirm Password doesn't match.", "error");
        return
      }

      document.querySelector("#full_name_verification").innerHTML = `${honorific_input.value} ${first_name_input.value} ${middle_name_input.value} ${last_name_input.value} ${suffix_input.value}`
      document.querySelector("#user_account_verification").innerHTML = user_account_input.value
      document.querySelector("#username_verification").innerHTML = username_input.value
      document.querySelector("#email_verification").innerHTML = email_input.value
      $("#researchTitleModal").modal();
    }
  </script>


</body>

</html>