{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Admin - Faculty Member Account</title>

    {% include 'css-main-cdn.html' %}
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      
      {% include 'admin-account-sidebar.html' %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

          {% include 'topbar.html' %}

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
              <div class="row">
                <div class="col-lg-9 col-md-12 mb-3">
                  <h1 class="h3 mb-0 text-gray-800">Faculty Members</h1>
                </div>
                <div class="col-lg-3 col-md-12 mb-3">
                  <a href="{% url 'admin-faculty-member-create' %}" type="button" class="btn btn-outline-success w-100"><i class="fa-solid fa-user-plus"></i> New Account</a>
                </div>
              </div>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <!-- <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Pending Dashboard</h6>
                        </div> -->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>ID No.</th>
                        <th>Name</th>
                        <th>Faculty</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>ID No.</th>
                        <th>Name</th>
                        <th>Faculty</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for panel in members %}
                      <tr>
                        <td>{{panel.username}}</td>
                        {% if panel.middle_name == "" %}
                        <td>{{panel.honorific}} {{panel.first_name}} {{panel.last_name}}</td>
                        {% else %}
                        <td>{{ panel.honorific}} {{panel.first_name}} {{panel.middle_name}} {{panel.last_name}}</td>
                        {% endif %}
                        <td>{{panel.department}}</td>
                        <td class="text-center">
                          <a class="btn btn-outline-info" type="button" href="{% url 'admin-faculty-member-data' panel.username %}"> <i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include 'logout-modal.html' %} {% include 'script-cdn.html' %} {% include 'alert-validation.html' %} 
    
    {% if response == 'sweet incorrect change current password' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "The Current Password you entered for this User is incorrect.", "error");
      setTimeout(function () {
        window.location.replace("{% url 'admin-faculty-member-data' id=0 %}".replace(/0/, "{{sweet_member_username}}"));
      }, 2000);
    </script>
    {% endif %} 
    
    {% if response == 'sweet same change password' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "The Current Password and New Password you entered for this User is the same.", "warning");
      setTimeout(function () {
        window.location.replace("{% url 'admin-faculty-member-data' id=0 %}".replace(/0/, "{{sweet_member_username}}"));
      }, 2000);
    </script>
    {% endif %} 
    
    {% if response == 'sweet confirm change password mismatch' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "The New Password and Confirm New Password you entered for this User mismatch.", "warning");
      setTimeout(function () {
        window.location.replace("{% url 'admin-faculty-member-data' id=0 %}".replace(/0/, "{{sweet_member_username}}"));
      }, 2000);
    </script>
    {% endif %} 
    
    {% if response == 'sweet password changed success' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "The Password of this User has been changed successfully.", "success");
    </script>
    {% endif %} 
    
    {% if response == 'sweet choose user account' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "You didn't enter any User Account for this User.", "error");
      setTimeout(function () {
        window.location.replace("{% url 'admin-faculty-member-data' id=0 %}".replace(/0/, "{{sweet_member_username}}"));
      }, 2000);
    </script>
    {% endif %} 
    
    {% if response == 'sweet user account not in list' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "The User Account you entered for this User is invalid.", "error");
      setTimeout(function () {
        window.location.replace("{% url 'admin-faculty-member-data' id=0 %}".replace(/0/, "{{sweet_member_username}}"));
      }, 2000);
    </script>
    {% endif %} 
    
    {% if response == 'sweet incorrect current password' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "The Current Password you entered for this user is incorrect.", "error");
      setTimeout(function () {
        window.location.replace("{% url 'admin-faculty-member-data' id=0 %}".replace(/0/, "{{sweet_member_username}}"));
      }, 2000);
    </script>
    {% endif %} 
    
    {% if response == 'sweet already' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "This User is already a {{sweet_member_department}} user.", "info");
      setTimeout(function () {
        window.location.replace("{% url 'admin-faculty-member-data' id=0 %}".replace(/0/, "{{sweet_member_username}}"));
      }, 2000);
    </script>
    {% endif %} 
    
    {% if response == 'sweet success' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "This User is now a {{sweet_member_department}} user.", "success");
    </script>
    {% endif %} 
    
    {% if response == 'sweet profile updated' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "The Profile of this user is updated successfully.", "success");
    </script>
    {% endif %} 
    
    {% if response == 'sweet partial update username exist' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "The Profile of this user is updated, \n except for the Username, because it is already taken.", "info");
      setTimeout(function () {
        window.location.replace("{% url 'admin-faculty-member-data' id=0 %}".replace(/0/, "{{sweet_member_username}}"));
      }, 2000);
    </script>
    {% endif %} 
    
    {% if response == 'sweet partial update email exist' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "The Profile of this user is updated, \n except for the Email, because it is already taken.", "info");
      setTimeout(function () {
        window.location.replace("{% url 'admin-faculty-member-data' id=0 %}".replace(/0/, "{{sweet_member_username}}"));
      }, 2000);
    </script>
    {% endif %} 
    
    {% if response == 'sweet partial update username and email exist' %}
    <script>
      Swal.fire("{{sweet_member_username}} \n {{sweet_member_full_name}}", "The Profile of this user is updated, \n except for the Username and Email, because it is already taken.", "info");
      setTimeout(function () {
        window.location.replace("{% url 'admin-faculty-member-data' id=0 %}".replace(/0/, "{{sweet_member_username}}"));
      }, 2000);
    </script>
    {% endif %}
  </body>
</html>
