{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Admin - Faculty Member Profile</title>

    {% include 'css-main-cdn.html' %}
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      
      {% include "admin-account-sidebar.html" %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

          {% include 'topbar.html'%}

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-3">
              {% if member_department == "DIT Head" %}
              <h1 class="h3 mb-0 text-gray-800"  style="display: inline;">Department Head Profile</h1>
              {% endif %}

              {% if member_department == "Faculty Member" %}
              <h1 class="h3 mb-0 text-gray-800">Faculty Member Profile</h1>
              {% endif %}
              
              {% if member_department == "Academic Affairs" %}
              <h1 class="h3 mb-0 text-gray-800">Academic Affairs Profile</h1>
              {% endif %}

              {% if member_department == "Library" %}
              <h1 class="h3 mb-0 text-gray-800">Library Profile</h1>
              {% endif %}

              {% if member_department == "Research & Extension" %}
              <h1 class="h3 mb-0 text-gray-800">Research & Extension Profile</h1>
              {% endif %}


              <div class="custom-control custom-switch float-right">
                <input type="checkbox" class="custom-control-input" id="edit_switch" />
                <label class="custom-control-label" for="edit_switch">Edit</label>
              </div>
            </div>

            <form method="POST" onsubmit="savechangesBtnSpinner()">
              {% csrf_token %}
              <!-- User Profile Start -->
              <div class="card border-left-info shadow h-100 py-2 mb-3">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">

                      <div id="honorific_value" class="form-group">
                        <label>Honorific:</label>
                        <input type="text" class="form-control" value="{{member_honorific}}" disabled />
                      </div>

                      <div id="honorific_input" class="form-group" style="display: None;">
                        <label>Honorific:</label>
                        <select class="custom-select" name="honorific_input" required>
                          <option value="default" selected>Choose honorific here...</option>
                          <option value="Mr.">Mr.</option>
                          <option value="Ms.">Ms.</option>
                          <option value="Mrs.">Mrs.</option>
                          <option value="Engr.">Engr.</option>
                          <option value="Dr.">Dr.</option>
                          <option value="Dra.">Dra.</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>First Name:</label>
                        <input id="first_name_input" name="first_name_input" type="text" class="form-control" value="{{member_first_name}}" style="text-transform: capitalize" disabled />
                      </div>

                      <div class="form-group">
                        <label>Middle Name:</label>
                        <input id="middle_name_input" name="middle_name_input" type="text" class="form-control" value="{{member_middle_name}}" style="text-transform: capitalize" disabled />
                      </div>

                      <div class="form-group">
                        <label>Last Name:</label>
                        <input id="last_name_input" name="last_name_input" type="text" class="form-control" value="{{member_last_name}}" style="text-transform: capitalize" disabled />
                      </div>

                      <div id="suffix_value" class="form-group">
                        <label>Suffix:</label>
                        <input type="text" class="form-control" value="{{member_suffix}}" style="text-transform: capitalize" disabled />
                      </div>

                      <div id="suffix_input" class="form-group" style="display: None;">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Suffix:</h6>
                        <select id="suffix_input" class="custom-select" name="suffix_input">
                          <option selected value="">None</option>
                          <option value="Sr.">Sr.</option>
                          <option value="Jr.">Jr.</option>
                          <option value="I">I</option>
                          <option value="II">II</option>
                          <option value="III">III</option>
                          <option value="IV">IV</option>
                          <option value="V">V</option>
                        </select>
                      </div>

                      <div id="user_account" class="form-group">
                        <label>Department:</label>
                        <input id="department_input" name="department_input" type="text" class="form-control" value="{{member_department}}" disabled />
                      </div>

                      <div class="form-group">
                        <label>Username (ID No.):</label>
                        <input id="username_input" name="username_input" type="text" class="form-control" value="{{member_username}}" onkeyup="this.value = this.value.toUpperCase();" disabled />
                      </div>

                      <div class="form-group">
                        <label>Email (GSFE):</label>
                        <input id="email_input" name="email_input" type="email" class="form-control" value="{{member_email}}" disabled />
                      </div>

                      <div id="password_input" class="form-group" style="display: None">
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password_input" required />
                      </div>

                      <button id="save_changes_btn" type="submit" class="btn btn-outline-success w-100" style="display: None"><i class="fa-solid fa-check"></i> Save Changes</button>
                      <button id="save_change_spinner" type="submit" class="btn btn-outline-success w-100" style="display: None" disabled>Saving Changes.....</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <!-- User Profile End -->

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-3">
              <h1 id="account_settings_header" class="h3 mb-0 text-gray-800">Account Settings</h1>
            </div>

            <!-- User Account Settings -->
            <div id="account_settings_form" class="card border-left-warning shadow h-100 py-2 mb-3">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">

                    <div class="form-group mb-5" >
                      <label>Options:</label>
                      <select id="account_settings_option" class="custom-select" name="" required>
                        <option value="change password" selected >Change Password</option>
                        <option value="change user account">Change User Account</option>
                      </select>
                    </div>
                    
                    <!-- Change Password Form -->
                    <form id="change_password_form" method="POST" action="{% url 'admin-faculty-member-change-password' member_username %}" style="display: block;">
                      {% csrf_token %}

                      <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" class="form-control" name="current_password_input" required/>
                      </div>

                      <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control" name="new_password_input" required/>
                      </div>

                      <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" name="confirm_new_password_input" required/>
                      </div>

                      <button type="submit" class="btn btn-outline-success w-100"><i class="fa-solid fa-lock"></i> Change Password</button>
                    </form>

                    <!-- Account Settings Form -->
                    <form id="change_user_account_form" method="POST" action="{% url 'admin-faculty-member-change-user-account' member_username %}" style="display: None;">
                      {% csrf_token %}

                      <div class="form-group">
                        <label>User Account:</label>
                        <select class="custom-select" name="user_account_input" required>
                          <option value="default" selected>Choose User account here...</option>
                          <option value="DIT Head">Department of Industrial Technology Head</option>
                          <option value="Faculty Member">Panel / Adviser / Subject Teacher</option>
                          <option value="Academic Affairs">Academic Affairs</option>
                          <option value="Library">Library</option>
                          <option value="Research & Extension">Research & Extension</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" class="form-control" name="current_password_input" required/>
                      </div>

                      <button type="submit" class="btn btn-outline-success w-100"><i class="fa-solid fa-check"></i> Save Changes</button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- User Accoung Settings End -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include 'logout-modal.html' %} 
    
    {% include 'script-cdn.html' %}

    {% include 'alert-validation.html' %}

    <!-- Edit Switch Script -->
    <script>
      let edit_switch = document.querySelector("#edit_switch");

      let username_input = document.querySelector("#username_input");
      let email_input = document.querySelector("#email_input");
      let honorific_value = document.querySelector("#honorific_value");
      let honorific_input = document.querySelector("#honorific_input");
      let first_name_input = document.querySelector("#first_name_input");
      let middle_name_input = document.querySelector("#middle_name_input");
      let last_name_input = document.querySelector("#last_name_input");
      let suffix_input = document.querySelector("#suffix_input");
      let suffix_value = document.querySelector("#suffix_value");
      let department_input = document.querySelector("#department_input");

      let password_input = document.querySelector("#password_input");
      let save_changes_btn = document.querySelector("#save_changes_btn");

      let save_change_spinner = document.querySelector("#save_change_spinner");

      let account_settings_form = document.querySelector("#account_settings_form");
      let account_settings_header = document.querySelector("#account_settings_header");

      function savechangesBtnSpinner() {
        save_changes_btn.style.display = "none";
        save_change_spinner.style.display = "block";
      }

      edit_switch.addEventListener("change", function () {
        if (edit_switch.checked) {
          username_input.removeAttribute("disabled");
          email_input.removeAttribute("disabled");

          first_name_input.removeAttribute("disabled");
          first_name_input.removeAttribute("disabled");
          middle_name_input.removeAttribute("disabled");
          last_name_input.removeAttribute("disabled");
          // department_input.removeAttribute("disabled");

          honorific_value.style.display = "none";
          honorific_input.style.display = "block";
          suffix_value.style.display = "none";
          suffix_input.style.display = "block";
          password_input.style.display = "block";
          save_changes_btn.style.display = "block";

          account_settings_form.style.display = "none";
          account_settings_header.style.display = "none";
        } else {
          // username_input.setAttribute("disabled", "");
          // email_input.setAttribute("disabled", "");
          // first_name_input.setAttribute("disabled", "");
          // middle_name_input.setAttribute("disabled", "");
          // last_name_input.setAttribute("disabled", "");
          // // department_input.setAttribute("disabled", "");

          // honorific_value.style.display = "block";
          // honorific_input.style.display = "none";
          // password_input.style.display = "none";
          // save_changes_btn.style.display = "none";
          location.reload();
        }
      });
    </script>
      
    <!-- Account Settings Options Script -->
    <script>
      let account_settings_option = document.querySelector("#account_settings_option");
      let change_password_form= document.querySelector("#change_password_form");
      let change_user_account_form = document.querySelector("#change_user_account_form");

    
      account_settings_option.addEventListener("change", (event) => {

        if (account_settings_option.value == "change user account") {

          change_password_form.style.display = "none";
          change_user_account_form.style.display = "block";

          change_password_form.reset()
          change_user_account_form.reset()
        }

        if (account_settings_option.value == "change password"){
          change_user_account_form.style.display = "none";
          change_password_form.style.display = "block";

          change_password_form.reset()
          change_user_account_form.reset()
        }
        
      });

    </script>

    {% if response == 'sweet invalid suffix' %}
    <script>
      Swal.fire("Invalid", "You just entered a Suffix which is not in the list. Please choose one from the choices given.", "error");
    </script>
    {% endif %}

  </body>
</html>
