{% load static %}

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <!-- Sidebar Toggle (Topbar) (Visible Only XS) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-lg-inline text-gray-600 small">{{currently_loggedin_user_full_name}} <br />
          <div class="float-right">Adviser</div>
        </span>
        <img class="img-profile rounded-circle" src="{% static 'img/user.png' %}" />
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="{% url 'adviser-profile' %}">
          <i class="fa-solid fa-user-pen fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        </a>

        <a class="dropdown-item" href="{% url 'adviser-account-settings' %}">
          <i class="fa-solid fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
          Account Settings
        </a>


        <div class="dropdown-divider"></div>

        <span class="ml-4">User Role:</span>

        {% if request.user.department == 'DIT Head' %}

        <a class="dropdown-item" href="{% url 'dit-head-dashboard' %}">
          <i class="fa-solid fa-user-tie fa-sm fa-fw mr-2 text-gray-400"></i>
          Dept. Head
        </a>

        {% endif %}

        <a class="dropdown-item" href="{% url 'panel-dashboard' %}">
          <i class="fa-solid fa-users fa-sm fa-fw mr-2 text-gray-400"></i>
          Panel
        </a>

        <a class="dropdown-item" href="{% url 'subject-teacher-dashboard' %}">
          <i class="fa-solid fa-chalkboard-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Subject Teacher
        </a>


        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>
  </ul>
</nav>
<!-- End of Topbar -->