{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Adviser - Advisee Dashboard</title>

  {% include 'css-main-cdn.html' %}

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'adviser-dashboard' %}">
          <div class="img-fluid text-center"><img src="{% static 'img/TUP-Logo.png' %}" style="max-width: 55%;" alt="">
          </div>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'adviser-dashboard' %}">
          <i class="fa-solid fa-house"></i>
          <span>Home</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'adviser-advisee-dashboard' %}">
          <i class="fa-solid fa-user-graduate"></i>
          <span>Advisee</span></a>
      </li>

      

      <!-- Divider -->
      <!-- <hr class="sidebar-divider"> -->

      <!-- Nav Item - Forms Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
          aria-controls="collapsePages">
          <i class="fa-solid fa-folder-open"></i>
          <span>Forms</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">BET-3</h6>
            <a class="collapse-item" href="{% url 'adviser-bet3-adviser-conforme' %}">Research Adviser Conforme</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">BET-5</h6>
            <!-- <a class="collapse-item" href="#">New Form</a>
                        <a class="collapse-item" href="#">New Form</a>
                        <a class="collapse-item" href="#">New Form</a>
                        <a class="collapse-item" href="#">New Form</a> -->
          </div>
        </div>
      </li>

      <!-- Nav Item - Logs Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLogs" aria-expanded="true"
          aria-controls="collapseLogs">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <span>Logs</span>
        </a>
        <div id="collapseLogs" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">BET-3</h6>
            <a class="collapse-item" href="#">Research Adviser Conforme</a>
            <!-- <a class="collapse-item" href="#">Panel Conforme</a> -->
            <!-- <a class="collapse-item" href="">Research Title Defense</a>
                        <a class="collapse-item" href="">Research Adviser Conforme</a> -->
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">BET-5</h6>
            <!-- <a class="collapse-item" href="#">New Form</a>
                        <a class="collapse-item" href="#">New Form</a>
                        <a class="collapse-item" href="#">New Form</a>
                        <a class="collapse-item" href="#">New Form</a> -->
          </div>
        </div>
      </li>

      <!-- Nav Item - Tables -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <span>History</span></a>
    </li> -->

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Nav Item - The Developers -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-code"></i>
          <span>The Devs</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block" />

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) (Visible Only XS) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-lg-inline text-gray-600 small">{{currently_loggedin_user_full_name}} <br />
                  <div class="float-right">Adviser</div>
                </span>
                <img class="img-profile rounded-circle" src="{% static 'img/user.png' %}" />
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                <a class="dropdown-item" href="{% url 'adviser-profile' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-3">
            <h1 class="h3 mb-0 text-gray-800">Advisee Dashboard</h1>
          </div>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <!-- <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Pending Dashboard</h6>
                </div> -->
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Student ID No.</th>
                      <th>Student Leader Name</th>
                      <th>Course</th>
                      <th>Research Title</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Student ID No.</th>
                      <th>Student Leader Name</th>
                      <th>Course</th>
                      <th>Research Title</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for advisee_data in all_advisee_data %}
                    <tr>
                      <td>{{advisee_data.student_leader_username}}</td>
                      <td>{{advisee_data.student_leader_full_name}}</td>
                      <td>{{advisee_data.course}}</td>
                      <td>{{advisee_data.research_title}}</td>
                      <td>
                        <a id="accept_{{advisee_data.id}}" data-id="{{advisee_data.id}}"
                          class="btn btn-outline-primary mb-2" type="button" href="#"><i class="fa-solid fa-eye"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Accept Modal -->
  <div class="modal fade" id="acceptModal" tabindex="-1" aria-labelledby="acceptModal" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Accept request?</h5>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to accept <span id="student_name_accept"></span> BET-3 Adviser
          Conforme request?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <a id="accept_btn" class="btn btn-outline-success" type="button" href="#">Yes - Accept</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Decline Modal -->
  <div class="modal fade" id="declineModal" tabindex="-1" aria-labelledby="declineModal" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Decline Request?</h5>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to decline <span id="student_name_decline"></span> BET-3 Adviser
          Conforme request?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <a id="decline_btn" class="btn btn-outline-danger" type="button" href="#">Yes - Decline</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include 'logout-modal.html' %}
  {% include 'script-cdn.html' %}
  <!-- Sweetalert 2 CDN -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  {% for adviser_conforme in adviser_conformes %}
  <script>
    document.getElementById('accept_' + '{{adviser_conforme.id}}').addEventListener("click", function () {
      data_id = $(document.getElementById('accept_' + '{{adviser_conforme.id}}')).attr("data-id")

      document.getElementById('student_name_accept').textContent = "{{adviser_conforme.student_leader_full_name}}";
      document.getElementById("accept_btn").href = "{% url 'adviser-bet3-adviser-conforme-accept' id=0 %}"
        .replace(/0/, data_id);
      $("#acceptModal").modal()
    });

    document.getElementById('decline_' + '{{adviser_conforme.id}}').addEventListener("click", function () {
      data_id = $(document.getElementById('decline_' + '{{adviser_conforme.id}}')).attr("data-id")

      document.getElementById('student_name_decline').textContent = "{{adviser_conforme.student_leader_full_name}}";
      document.getElementById("decline_btn").href = "{% url 'adviser-bet3-adviser-conforme-decline' id=0 %}"
        .replace(/0/, data_id);
      $("#declineModal").modal()
    });
  </script>
  {% endfor %}

  {% if response == 'sweet bet-3 adviser conforme accepted' %}
  <script>
    Swal.fire("Accepted", "The Adviser Conforme request of {{accepted_student_member_name}} is accepted.",
      "success");

    setTimeout(function () {
      window.location.replace("{% url 'adviser-bet3-adviser-conforme' %}");
    }, 1500);
  </script>
  {% endif %}

  {% if response == 'sweet bet-3 adviser conforme declined' %}
  <script>
    Swal.fire("Declined", "The Adviser Conforme request of {{declined_student_member_name}} is declined.", "info");

    setTimeout(function () {
      window.location.replace("{% url 'adviser-bet3-adviser-conforme' %}");
    }, 1500);
  </script>
  {% endif %}

</body>

</html>