<!-- INDEX VALIDATION START -->
{% if response == 'user does not exist' %}
<script>
  iziToast.error({
    title: "Invalid",
    message: "The Username you entered is not yet registered.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'incorrect password' %}
<script>
  iziToast.error({
    title: "Invalid",
    message: "The Password you entered is incorrect.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %} 

{% if response == 'unauthorized access' %}
<script>
  iziToast.warning({
    title: "Unauthorized Access.",
    message: "You are not authorized to access the students portal.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %} 

{% if response == 'changed password' %}
<script>
  iziToast.success({
    title: "Success",
    message: "Your password has been changed successfully. Please re-login again.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

<!-- INDEX VALIDATION END -->


<!-- ADMIN - DEPARTMENT HEAD CREATE START-->
{% if response == 'password mismatch' %}
<script>
  iziToast.error({
    title: "Invalid",
    message: "The Password you entered doesn't match to the Confirm Password.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %} 

{% if response == 'user exist' %}
<script>
  iziToast.error({
    title: "Invalid",
    message: "The Username you entered is already taken.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'choose honorific' %}
<script>
  iziToast.error({
    title: "Invalid",
    message: "You didn't input honorific. Please choose one.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}
<!-- ADMIN - DEPARTMENT HEAD CREATE END-->

{% if response == 'added successfully' %}
<script>
  iziToast.success({
    title: "Success",
    message: "The Course and Major has been successfully added.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %} 

{% if response == 'major exist' %}
<script>
  iziToast.error({
    title: "Invalid.",
    message: "The Major you entered already exists.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %} 

{% if response == 'course abbr exist' %}
<script>
  iziToast.error({
    title: "Invalid",
    message: "The Course abbreviation you entered already exists.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}


{% if response == "account created" %}
<script>
  Swal.fire("Success!", "The Account has been created.", "success");
</script>
{% endif %} 

{% if response == 'password changed' %}
<script>
  iziToast.success({
    title: "Success",
    message: "The Password has been changed successfully.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'confirm password mismatch' %}
<script>
  iziToast.error({
    title: "Invalid",
    message: "The New Password and Confirm New Password doesn't match.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'same password' %}
<script>
  iziToast.error({
    title: "Invalid",
    message: "The Old Password and New Password can't be the same.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'incorrect current password' %}
<script>
  iziToast.error({
    title: "Invalid",
    message: "The Current Password you entered is incorrect.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'password mismatch' %}
<script>
  iziToast.error({
    title: "Password Mismatch",
    message: "The password you entered doesn't match to the confirm password.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %} {% if response == 'user exist' %}
<script>
  iziToast.error({
    title: "User exist",
    message: "The User already exist.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %} {% if response == 'invalid form' %}
<script>
  iziToast.error({
    title: "Invalid Form",
    message: "Please fill-up the forms correctly.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %} {% if response == 'error occured' %}
<script>
  iziToast.error({
    title: "404",
    message: "An Error occured.",
    position: "topCenter",
    timeout: 3000,
  });
</script>
{% endif %} {% if response == 'invalid username' %}
<script>
  iziToast.error({
    title: "Invalid Username",
    message: "Please input TUP Cavite ID No. correctly.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %} 

{% if response == 'invalid email' %}
<script>
  iziToast.error({
    title: "Invalid Email",
    message: "Please input TUP Cavite GSFE Email correctly.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'username exist' %}
<script>
  iziToast.error({
    title: "Invalid",
    message: "The Username you entered is already taken.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'email exist' %}
<script>
  iziToast.error({
    title: "Invalid",
    message: "The Email you entered is already taken.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'profile updated' %}
<script>
  iziToast.success({
    title: "Success",
    message: "The Profile has been updated successfully.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'partial update username exist' %}
<script>
  iziToast.warning({
    title: "Alert",
    message: "The Profile has been updated except for the Username, because it is taken.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'partial update email exist' %}
<script>
  iziToast.warning({
    title: "Alert",
    message: "The Profile has been updated except for the Email, because it is taken.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'partial update username and email exist' %}
<script>
  iziToast.warning({
    title: "Alert",
    message: "The Profile has been updated except for the Username and Email, because it is taken.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}


{% if response == 'existing title' %}
<script>
  iziToast.error({
    title: "Error",
    message: "The Research Title is already existing.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'existing research title' %}
<script>
  iziToast.error({
    title: "Error",
    message: "The Research Title is already existing.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'choose 5 panel' %}
<script>
  iziToast.error({
    title: "Error",
    message: "Please Choose 5 Panel.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'same panel' %}
<script>
  iziToast.error({
    title: "Error",
    message: "Please Choose 5 different Panel.",
    position: "topCenter",
    timeout: 5000,
  });
</script>
{% endif %}

{% if response == 'panel conforme bet-3 exist' %}
<script>
  Swal.fire("Uh-oh", "It looks like you already have a pending Panel Conforme BET-3 Form. Form submission can only be done once.", "warning");
</script>
{% endif %}