{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <title>DIT Head -Acknowledgement Receipt Logs</title>

    {% include 'css-main-cdn.html' %}
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      {% include 'dit-head-sidebar-logs.html' %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          {% include 'dit-head-topbar.html' %}

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-3">
              <h1 class="h3 mb-0 text-dark"><i class="fa-solid fa-clock-rotate-left"></i>
                 Acknowledgement Receipt - Logs</h1>
            </div>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <!-- <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Pending Dashboard</h6>
                </div> -->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered text-center" id="logs" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th hidden>Ref No.</th>
                        <th>Student ID No.</th>
                        <th>Student Name</th>
                        <th>Course</th>
                        <th>Research Title</th>
                        <th>Date</th>
                        <th>Response</th>
                        <th>Signature</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th hidden>Ref No.</th>
                        <th>Student ID No.</th>
                        <th>Student Name</th>
                        <th>Course</th>
                        <th>Research Title</th>
                        <th>Date</th>
                        <th>Response</th>
                        <th>Signature</th>
                      </tr>
                    </tfoot>
                    <tbody class="text-dark">
                      {% for accepted_receipt in accepted_receipt %}
                      <tr>
                        <td hidden>{{accepted_receipt.id}}</td>
                        <td>{{accepted_receipt.student_leader_username}}</td>
                        <td>{{accepted_receipt.student_leader_full_name}}</td>
                        <td>{{accepted_receipt.course_major_abbr}}</td>
                        <td>{{accepted_receipt.research_title}}</td>
                        <td>{{accepted_receipt.dit_head_response_date}}</td>
                        <td class="text-success">{{accepted_receipt.dit_head_response}}</td>
                        {% if accepted_receipt.dit_head_signature == True %}
                        <td class="text-success">E-Signature</td>
                        {% else %}
                        <td class="text-info">Live Signature</td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include 'logout-modal.html' %} {% include 'script-cdn.html' %}
    <!-- Sweetalert 2 CDN -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      $(document).ready(function () {
        $("#logs").DataTable({
          order: [[0, "desc"]],
        });
      });
    </script>
  </body>
</html>
