<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Unofficial TUPC Department of Industrial Technology - Research Defense</span>
        </div>
    </div>
</footer>

<!-- Faculty Help Modal -->
<div class="modal fade" id="facultyHelp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalLabel"><i class="fas fa-info fa-sm fa-fw mr-2 text-dark"></i> Faculty Member Help</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center text-dark">
          Hi Faculty Members! 
          <br>
          Thank you for using the TUP-C DIT Research Defense Web App.
          It seems like you need some help in order to use this Web Application.
          <br>
          <br>
          For Department Head:
          <br>
          - You can Accept and Decline the Students research defense form requests.<br>
          - You can either upload your signature in this web app or do the traditional way of signing each research defense form<br>
          - Most of the Research Defense Form will go through you, and your response is required in order to process the form requests of every Students.
          <br>
          <br>
          For Subject Teacher:
          <br>
          - You can Accept and Decline the Students research defense form requests.<br>
          - You can either upload your signature in this web app or do the traditional way of signing each research defense form<br>
          - You have the control for every Research Defense (Topic, Proposal, Final) of the Students.
          - You have the control to create Research Defense Schedule (Topic, Proposal, Final) for the Students.
          <br>
          <br>
          For Panel / Advisers:
          <br>
          - You can Accept and Decline the Students research defense form requests.<br>
          - You can either upload your signature in this web app or do the traditional way of signing each research defense form<br>
          <br>
          <br>
          For Academic Affairs Office / Library / Research & Extensions
          <br>
          - You can Accept the Acknowledgement Receipt of the Students if he/she complies with the requirements for Research Subject.<br>
          - You can either upload your signature in this web app or do the traditional way of signing each research defense form<br>
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{{redirect_to_login_immediately}}