{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Panel- Panel Conforme BET-3</title>

    {% include 'css-main-cdn.html ' %}
  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'panel-dashboard' %}">
          <img class="img-fluid" src="{% static 'img/TUP-Logo.png' %}" style="width: 30%" alt="" />
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'panel-dashboard' %}">
            <i class="fa-solid fa-house"></i>
            <span>Home</span></a
          >
        </li>

        <!-- Divider -->
        <!-- <hr class="sidebar-divider"> -->

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fa-solid fa-folder-open"></i>
            <span>Forms</span>
          </a>
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">BET-3</h6>
              <!-- <a class="collapse-item" href="">Panel Invitation</a> -->
              <a class="collapse-item" href="{% url 'panel-panel-conforme-bet-3' %}">Panel Conforme</a>
              <!-- <a class="collapse-item" href="">Research Title Defense</a>
                        <a class="collapse-item" href="">Research Adviser Conforme</a> -->
              <div class="collapse-divider"></div>
              <h6 class="collapse-header">BET-5</h6>
              <!-- <a class="collapse-item" href="#">New Form</a>
                        <a class="collapse-item" href="#">New Form</a>
                        <a class="collapse-item" href="#">New Form</a>
                        <a class="collapse-item" href="#">New Form</a> -->
            </div>
          </div>
        </li>

        <!-- Nav Item - Tables -->
        <!-- <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <span>History</span></a>
    </li> -->

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Nav Item - The Developers -->
        <li class="nav-item">
          <a class="nav-link" href="the-devs.html">
            <i class="fa-solid fa-code"></i>
            <span>The Devs</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            
            <!-- Sidebar Toggle (Topbar) (Visible Only XS) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{currently_loggedin_user_full_name}} <br/>
                    <div class="float-right">Panel</div>
                  </span>
                  <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}" />
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                 
                  <a class="dropdown-item" href="{% url 'panel-profile' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-3">
              <h1 class="h3 mb-0 text-gray-800">Panel Conforme - BET-3</h1>
            </div>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <!-- <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Pending Dashboard</h6>
                </div> -->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Research Title</th>
                        <th>Student ID No.</th>
                        <th>Student Name</th>
                        <th>Course</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Research Title</th>
                        <th>Student ID No.</th>
                        <th>Student Name</th>
                        <th>Course</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for panel_conforme_forms_1 in panel_conforme_bet3_check_1 %}
                      <tr>
                        <td>{{panel_conforme_forms_1.research_title}}</td>
                        <td>{{panel_conforme_forms_1.student_leader_username}}</td>
                        <td>{{panel_conforme_forms_1.student_member_1}}</td>
                        <td>{{panel_conforme_forms_1.course_major_abbr}}</td>
                        <td>Pending</td>
                        <td class="text-center">
                          <a class="btn btn-outline-success mr-2" type="button" href="#"><i class="fa-solid fa-check"></i></a>
                          <a class="btn btn-outline-danger" type="button" href="#"><i class="fa-solid fa-xmark"></i></a>
                        </td>
                      </tr>
                      {% endfor %}

                      {% for panel_conforme_forms_2 in panel_conforme_bet3_check_2 %}
                      <tr>
                        <td>{{panel_conforme_forms_2.research_title}}</td>
                        <td>{{panel_conforme_forms_2.student_leader_username}}</td>
                        <td>{{panel_conforme_forms_2.student_member_2}}</td>
                        <td>{{panel_conforme_forms_2.course_major_abbr}}</td>
                        <td>Pending</td>
                        <td class="text-center">
                          <a class="btn btn-outline-success mr-2" type="button" href="#"><i class="fa-solid fa-check"></i></a>
                          <a class="btn btn-outline-danger" type="button" href="#"><i class="fa-solid fa-xmark"></i></a>
                        </td>
                      </tr>
                      {% endfor %}

                      {% for panel_conforme_forms_3 in panel_conforme_bet3_check_3 %}
                      <tr>
                        <td>{{panel_conforme_forms_3.research_title}}</td>
                        <td>{{panel_conforme_forms_3.student_leader_username}}</td>
                        <td>{{panel_conforme_forms_3.student_member_3}}</td>
                        <td>{{panel_conforme_forms_3.course_major_abbr}}</td>
                        <td>Pending</td>
                        <td class="text-center">
                          <a class="btn btn-outline-success mr-2" type="button" href="#"><i class="fa-solid fa-check"></i></a>
                          <a class="btn btn-outline-danger" type="button" href="#"><i class="fa-solid fa-xmark"></i></a>
                        </td>
                      </tr>
                      {% endfor %}

                      {% for panel_conforme_forms_4 in panel_conforme_bet3_check_4 %}
                      <tr>
                        <td>{{panel_conforme_forms_4.research_title}}</td>
                        <td>{{panel_conforme_forms_4.student_leader_username}}</td>
                        <td>{{panel_conforme_forms_4.student_member_4}}</td>
                        <td>{{panel_conforme_forms_4.course_major_abbr}}</td>
                        <td>Pending</td>
                        <td class="text-center">
                          <a class="btn btn-outline-success mr-2" type="button" href="#"><i class="fa-solid fa-check"></i></a>
                          <a class="btn btn-outline-danger" type="button" href="#"><i class="fa-solid fa-xmark"></i></a>
                        </td>
                      </tr>
                      {% endfor %}

                      {% for panel_conforme_forms_5 in panel_conforme_bet3_check_5 %}
                      <tr>
                        <td>{{panel_conforme_forms_5.research_title}}</td>
                        <td>{{panel_conforme_forms_5.student_leader_username}}</td>
                        <td>{{panel_conforme_forms_5.student_member_5}}</td>
                        <td>{{panel_conforme_forms_5.course_major_abbr}}</td>
                        <td>Pending</td>
                        <td class="text-center">
                          <a class="btn btn-outline-success mr-2" type="button" href="#"><i class="fa-solid fa-check"></i></a>
                          <a class="btn btn-outline-danger" type="button" href="#"><i class="fa-solid fa-xmark"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include 'logout-modal.html' %} {% include 'script-cdn.html' %}
    <!-- Sweetalert 2 CDN -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if response == 'sweet panel conforme bet-3 accepted' %}
    <script>
      Swal.fire("Accepted", "{{accepted_research_title}} is accepted.", "success");

      setTimeout(function () {
        window.location.replace("{% url 'dit-head-panel-conforme-bet-3' %}");
      }, 1500);
    </script>
    {% endif %}

  </body>
</html>
