{% load static %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'panel-dashboard' %}">
      <div class="img-fluid text-center"><img src="{% static 'img/TUP-Logo.png' %}" style="max-width: 55%;" alt="">
      </div>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'panel-dashboard' %}">
      <i class="fa-solid fa-house"></i>
      <span>Home</span></a>
  </li>

  <!-- Divider -->
  <!-- <hr class="sidebar-divider"> -->

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fa-solid fa-folder-open"></i>
      <span>Forms</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'panel-panel-conforme' %}">Panel Conforme</a>
        <h6 class="collapse-header">BET-3</h6>
        <a class="collapse-item" href="{% url 'panel-panel-invitation-bet-3' %}">Topic - Panel Invitation</a>
        <a class="collapse-item" href="{% url 'panel-bet3-proposal-defense-panel-invitation-dashboard' %}">Proposal - Panel Invitation</a>

        <div class="collapse-divider"></div>
        <h6 class="collapse-header">BET-5</h6>
        <a class="collapse-item" href="{% url 'panel-bet5-final-defense-panel-invitation-dashboard' %}">Final - Panel Invitation</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLogs" aria-expanded="true"
      aria-controls="collapseLogs">
      <i class="fa-solid fa-clock-rotate-left"></i>
      <span>Logs</span>
    </a>
    <div id="collapseLogs" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">BET-3</h6>
        <a class="collapse-item" href="{% url 'panel-bet3-panel-invitation-logs' %}">Topic - Panel Invitation</a>
        <a class="collapse-item" href="{% url 'panel-bet3-title-defense-logs' %}">Research Title Defense</a>
        <!-- <a class="collapse-item" href="">Research Title Defense</a>
                    <a class="collapse-item" href="">Research Adviser Conforme</a> -->
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">BET-5</h6>
        <!-- <a class="collapse-item" href="#">New Form</a>
                    <a class="collapse-item" href="#">New Form</a>
                    <a class="collapse-item" href="#">New Form</a>
                    <a class="collapse-item" href="#">New Form</a> -->
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Nav Item - The Developers -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fa-solid fa-code"></i>
      <span>The Devs</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->