{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

  <title>Panel - User Profile</title>

  {% include 'css-main-cdn.html' %}
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'panel-dashboard' %}">
          <div class="img-fluid text-center"><img src="{% static 'img/TUP-Logo.png' %}" style="max-width: 55%;" alt="">
          </div>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'panel-dashboard' %}">
          <i class="fa-solid fa-house"></i>
          <span>Home</span></a>
      </li>

      <!-- Divider -->
      <!-- <hr class="sidebar-divider"> -->

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
          aria-controls="collapsePages">
          <i class="fa-solid fa-folder-open"></i>
          <span>Forms</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'panel-panel-conforme' %}">Panel Conforme</a>
            <h6 class="collapse-header">BET-3</h6>
            <a class="collapse-item" href="{% url 'panel-panel-invitation-bet-3' %}">Topic - Panel Invitation</a>
            <a class="collapse-item" href="{% url 'panel-bet3-proposal-defense-panel-invitation-dashboard' %}">Proposal - Panel Invitation</a>

            <div class="collapse-divider"></div>
            <h6 class="collapse-header">BET-5</h6>
            <a class="collapse-item" href="{% url 'panel-bet5-final-defense-panel-invitation-dashboard' %}">Final - Panel Invitation</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLogs" aria-expanded="true"
          aria-controls="collapseLogs">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <span>Logs</span>
        </a>
        <div id="collapseLogs" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">BET-3</h6>
            <a class="collapse-item" href="{% url 'panel-bet3-panel-invitation-logs' %}">Topic - Panel Invitation</a>
            <a class="collapse-item" href="{% url 'panel-bet3-title-defense-logs' %}">Research Title Defense</a>
            <a class="collapse-item" href="{% url 'panel-bet3-proposal-panel-invitation-logs' %}">Proposal - Panel Invitation</a>
            <a class="collapse-item" href="{% url 'panel-bet3-proposal-defense-logs' %}">Research Proposal Defense</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">BET-5</h6>
            <a class="collapse-item" href="{% url 'panel-bet5-final-panel-invitation-logs' %}">Final - Panel Invitation</a>
            <a class="collapse-item" href="{% url 'panel-bet5-final-defense-logs' %}">Research Final Defense</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Nav Item - The Developers -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'panel-the-devs' %}">
          <i class="fa-solid fa-code"></i>
          <span>The Devs</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block" />

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        {% include 'panel-topbar.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- User Profile Start -->
          <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12 mb-3">
              <div class="card border-left-dark shadow h-100 py-2 mb-3">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <!-- Page Heading -->
                      <div class="d-sm-flex align-items-center justify-content-between mb-3">
                        <h1 class="h3 mb-0 text-gray-800"><i class="fa-solid fa-user"></i> User Profile</h1>
                      </div>

                      <div class="form-group">
                        <label>Honorific:</label>
                        <input type="text" class="form-control" value="{{request.user.honorific}}" disabled />
                      </div>

                      <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" class="form-control" value="{{request.user.first_name}}" disabled />
                      </div>

                      <div class="form-group">
                        <label>Middle Name:</label>
                        <input type="text" class="form-control" value="{{request.user.middle_name}}" disabled />
                      </div>

                      <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" class="form-control" value="{{request.user.last_name}}" disabled />
                      </div>

                      <div class="form-group">
                        <label>Suffix:</label>
                        <input type="text" class="form-control" value="{{request.user.suffix}}" disabled />
                      </div>

                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" value="{{request.user}}" disabled />
                      </div>

                      <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" value="{{request.user.email}}" disabled />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
              <div class="card border-left-danger shadow h-100 py-2 mb-3">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <!-- Page Heading -->
                      <div class="d-sm-flex align-items-center justify-content-between mb-3">
                        <h1 class="h3 mb-0 text-gray-800"><i class="fa-solid fa-file-signature"></i> User E-Signature
                        </h1>
                      </div>

                      {% if esignature_exist == 'True' %}

                      <div class="text-center mt-5 mb-5">
                        <img id="esignature_img" src="/uhsG1tCRrm3fUHcG4dyEMDDq31WQULMNJkSGQFq0oiV5vvhui9/{{currently_loggedin_username}}.png"
                          alt="">
                      </div>

                      {% else %}

                      <!-- <button type="button" class="btn btn-outline-info w-100 mb-2">Update E-sign</button> -->

                      <div class="text-center mt-5 mb-5">
                        <h3>No Signature Uploaded <br>
                          H 100px x W 300px

                        </h3>
                      </div>

                      {% endif %}

                      {% if esignature_exist == 'False' %}
                      <form method="POST" enctype="multipart/form-data" action="{% url 'panel-upload-esignature' %}">
                        {% csrf_token %}
                        <div class="form-group">
                          <label>Upload Signature</label>
                          <input type="file" class="form-control-file mb-2" id="esignature" name="esignature"
                            accept="image/png" required>
                          <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                            <label class="form-check-label" for="exampleCheck1">I agree to attach my signature, and use it to this web app.</label>
                          </div>
                          <button type="submit" class="btn btn-outline-primary w-100">Upload Signature</button>
                        </div>
                      </form>

                      {% elif esignature_exist == 'True'%}
                      <form method="POST" enctype="multipart/form-data" action="{% url 'panel-upload-esignature' %}">
                        {% csrf_token %}
                        <div class="form-group">
                          <label>Upload Signature</label>
                          <input type="file" class="form-control-file mb-2" id="esignature" name="esignature"
                            accept="image/png" required>
                          <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                            <label class="form-check-label" for="exampleCheck1">I agree to update my signature, and use it to this web app.</label>
                          </div>
                          <button type="submit" class="btn btn-outline-info w-100">Update Signature</button>
                        </div>
                      </form>

                      <a type="button" class="btn btn-outline-danger w-100 mb-2"
                        href="{% url 'panel-delete-esignature' %}">Remove Signature</a>
                      {% endif %}

                      {% if esignature_exist == 'False' %}

                      <div class="text-center mb-3">
                        <span>or</span>
                      </div>

                      <a type="button" class="btn btn-outline-success w-100 mb-2"
                        href="{% url 'panel-create-esignature' %}">Create E-Signature</a>

                      {% endif %}

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- User Profile End -->

        </div>
        <!-- /.container-fluid -->
        
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html'%}
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include 'logout-modal.html' %}
  {% include 'script-cdn.html' %}

  <script src="{% static 'js/signature-pad.js' %}"></script>

  {% if response == 'sweet not png' %}
  <script>
    Swal.fire("Invalid", "The File you uploaded is not a PNG image file.", "error");
    setTimeout(function () {
      window.location.replace("{% url 'panel-profile' %}");
    }, 4000);
  </script>
  {% endif %}

  {% if response == 'sweet invalid size' %}
  <script>
    Swal.fire("Invalid", "The Image Size you uploaded is invalid.", "error");
    setTimeout(function () {
      window.location.replace("{% url 'panel-profile' %}");
    }, 4000);
  </script>
  {% endif %}

</body>

</html>