{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up - TUP-C Research Defense Form Web App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />

    <!-- Fontawesome 6.1.1 CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Izitoast 1.4.0 CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static '/css/login_signup.css' %}" />
  </head>

  <body>
    <div class="container">
      <div class="row content">
        <div class="col-md-6 mb-3">
          <img class="img-fluid" src="{% static '/img/laptop-girl.jpg' %}" alt="" />
        </div>
        <div class="col-md-6">
          <h1 class="signin-text mb-4">Sign up</h1>
          <form method="POST" onsubmit="signupBtnSpinner()">
            {% csrf_token %}

            <div class="form-group">
              <label>First Name:</label>
              <input type="text" name="first_name_input" class="form-control" style="text-transform: capitalize" required />
            </div>
            <div class="form-group">
              <label>Middle Name:</label>
              <input type="text" name="middle_name_input" class="form-control" style="text-transform: capitalize" />
            </div>
            <div class="form-group">
              <label>Last Name:</label>
              <input type="text" name="last_name_input" class="form-control" style="text-transform: capitalize" required />
            </div>

            <div class="form-group">
              <label>Suffix:</label>
              <select class="custom-select" name="suffix_input">
                <option value="" selected>None</option>
                <option value="Sr.">Sr.</option>
                <option value="Jr.">Jr.</option>
                <option value="I">I</option>
                <option value="II">II</option>
                <option value="III">III</option>
                <option value="IV">IV</option>
                <option value="V.">V.</option>

              </select>
            </div>

            <div class="form-group">
              <label>Course:</label>
              <select class="custom-select" name="course_input" required>
                <option value="default" selected>What is you Course?</option>
                {% for abbr in course %}
                <option value="{{abbr.course_major_abbr}}">{{abbr.course_major_abbr}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label>BET-3 Subject Teacher:</label>
              <select class="custom-select" name="subject_teacher_input" required>
                <option value="default" selected>Who is your BET-3 Subject Teacher?</option>
                {% for subject_teacher in subject_teachers %}
                {% if subject_teacher.middle_name == "" %}
                <option value="{{subject_teacher.username}}">{{subject_teacher.honorific}} {{subject_teacher.first_name}} {{subject_teacher.last_name}} {{subject_teacher.suffix}}</option>
                {% else %}
                <option value="{{subject_teacher.username}}">{{subject_teacher.honorific}} {{subject_teacher.first_name}} {{subject_teacher.middle_name}} {{subject_teacher.last_name}} {{subject_teacher.suffix}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="form-group">{{form}}</div>

            <div class="form-group">
              <label for="password">Confirm Password:</label>
              <input type="password" name="confirm_password_input" class="form-control" required />
            </div>

            <button id="signup_btn" class="btn btn-class btn-outline-success mt-2 w-100" type="submit">Sign Up</button>

            <button id="signup_spinner" class="btn btn-class mt-2 w-100" style="display: None" disabled>
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>

            <hr class="mt-5" />
            <p class="text-center">Have an account? <a href="{% url 'index' %}">Log In</a></p>
          </form>
        </div>
      </div>
    </div>

    <!-- Izitoast 1.4.0 CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Sweetalert 2.11 Script CDN-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      let signup_btn = document.querySelector("#signup_btn");
      let signup_spinner = document.querySelector("#signup_spinner");

      function signupBtnSpinner() {
        signup_btn.style.display = "none";
        signup_spinner.style.display = "block";
      }
    </script>

    {% include 'alert-validation.html' %} 
    
    {% if response == 'sweet no course available' %}
    <script>
      Swal.fire("Uh-oh", "Sorry, can't sign up at the moment.<br> There are no available Course. <br> Please try again later.", "error");

      setTimeout(function () {
        window.location.replace("{% url 'index' %}");
      }, 4000);
    </script>
    {% endif %}

    {% if response == 'sweet no dit head assigned' %}
    <script>
      Swal.fire("Uh-oh", "Sorry, can't sign up at the moment.<br> There is no DIT Head assigned. <br> Please try again later.", "error");

      setTimeout(function () {
        window.location.replace("{% url 'index' %}");
      }, 4000);
    </script>
    {% endif %}

    {% if response == 'sweet no panel assigned' %}
    <script>
      Swal.fire("Uh-oh", "Sorry, can't sign up at the moment.<br> There are no Panel Members assigned. <br> Please try again later.", "error");

      setTimeout(function () {
        window.location.replace("{% url 'index' %}");
      }, 4000);
    </script>
    {% endif %}

    {% if response == 'sweet incomplete panel' %}
    <script>
      Swal.fire("Uh-oh", "Sorry, can't sign up at the moment.<br> The Panel Members assigned is incomplete. <br> Please try again later.", "error");

      setTimeout(function () {
        window.location.replace("{% url 'index' %}");
      }, 4000);
    </script>
    {% endif %}

    {% if response == 'sweet no adviser assigned' %}
    <script>
      Swal.fire("Uh-oh", "Sorry, can't sign up at the moment.<br> There are no Adviser assigned. <br> Please try again later.", "error");

      setTimeout(function () {
        window.location.replace("{% url 'index' %}");
      }, 4000);
    </script>
    {% endif %}

    {% if response == 'sweet no subject teacher assigned' %}
    <script>
      Swal.fire("Uh-oh", "Sorry, can't sign up at the moment.<br> There are no Subject Teacher assigned. <br> Please try again later.", "error");

      setTimeout(function () {
        window.location.replace("{% url 'index' %}");
      }, 4000);
    </script>
    {% endif %}

    {% if response == 'sweet no academic affairs assigned' %}
    <script>
      Swal.fire("Uh-oh", "Sorry, can't sign up at the moment.<br> There are no Academic Affairs assigned. <br> Please try again later.", "error");

      setTimeout(function () {
        window.location.replace("{% url 'index' %}");
      }, 4000);
    </script>
    {% endif %}

    {% if response == 'sweet no library assigned' %}
    <script>
      Swal.fire("Uh-oh", "Sorry, can't sign up at the moment.<br> There are no Library assigned. <br> Please try again later.", "error");

      setTimeout(function () {
        window.location.replace("{% url 'index' %}");
      }, 4000);
    </script>
    {% endif %}

    {% if response == 'sweet no research extension assigned' %}
    <script>
      Swal.fire("Uh-oh", "Sorry, can't sign up at the moment.<br> There are no Research & Extension assigned. <br> Please try again later.", "error");

      setTimeout(function () {
        window.location.replace("{% url 'index' %}");
      }, 4000);
    </script>
    {% endif %}

    {% if response == 'sweet invalid suffix' %}
    <script>
      Swal.fire("Invalid", "You just entered a Suffix which is not in the list. Please choose one from the choices given.", "error");
    </script>
    {% endif %}

    {% if response == 'sweet invalid course' %}
    <script>
      Swal.fire("Invalid", "You just entered a Course which is not in the list. Please choose one from the choices given.", "error");
    </script>
    {% endif %}

    {% if response == 'sweet invalid subject teacher' %}
    <script>
      Swal.fire("Invalid", "You just entered a Subjec Teacher which is not in the list. Please choose one from the choices given.", "error");
    </script>
    {% endif %}

    {% if response == 'sweet user exist' %}
    <script>
      Swal.fire("{{student_member_check_username}} \n {{student_member_check_name}}", "You're already a part of a Group. <br> One Account per group is allowed.", "error");
    </script>
    {% endif %}


    <script>
      
    </script>

  </body>
</html>
