{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Student - Home</title>

  {% include 'css-main-cdn.html' %}

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'student-dashboard' %}">
          <div class="img-fluid text-center"><img src="{% static 'img/TUP-Logo.png' %}" style="max-width: 55%;" alt="">
          </div>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'student-dashboard' %}">
          <i class="fa-solid fa-house"></i>
          <span>Home</span></a>
      </li>

      <!-- Nav Item - Group Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGroup" aria-expanded="true" aria-controls="collapseGroup">
          <i class="fa-solid fa-users"></i>
          <span>Group</span>
        </a>
        <div id="collapseGroup" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'student-group-members' %}">Members</a>
            <a class="collapse-item" href="{% url 'student-research-titles' %}">Research Titles</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Forms Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForms" aria-expanded="true" aria-controls="collapseForms">
          <i class="fa-solid fa-folder-open"></i>
          <span>Forms</span>
        </a>
        <div id="collapseForms" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="#">Consultation Form</a>
            <h6 class="collapse-header">BET-3</h6>
            <a class="collapse-item" href="{% url 'student-panel-invitation-bet3' %}">Topic - Panel Invitation</a>
            <a class="collapse-item" href="{% url 'student-bet3-research-title-defense' %}">Research Title Defense</a>
            <a class="collapse-item" href="{% url 'student-bet3-topic-panel-conforme'%}">Topic - Panel Conforme</a>
            <a class="collapse-item" href="{% url 'student-bet3-adviser-dashboard' %}">Adviser Conforme</a>
            <a class="collapse-item" href="{% url 'student-bet3-proposal-defense-panel-invitation' %}">Proposal - Panel Invitation</a>
            <a class="collapse-item" href="{% url 'student-bet3-critique-form' %}">Critique Form</a>
            <a class="collapse-item" href="{% url 'student-bet3-research-proposal-defense' %}">Research Proposal Defense</a>
            <a class="collapse-item" href="{% url 'student-bet3-proposal-panel-conforme' %}">Proposal - Panel Conforme</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">BET-5</h6>
            {% if student_leader_data.bet3_proposal_defense_status %}
              {% if not student_leader_data.bet5_subject_teacher_name %}
              <a class="collapse-item" href="{% url 'student-bet5-subject-teacher' %}">BET-5 Subject Teacher</a>
              {% endif %}
            {% endif %}
            <a class="collapse-item" href="{% url 'student-bet5-final-defense-panel-invitation' %}">Final - Panel Invitation</a>
            <a class="collapse-item" href="{% url 'student-bet5-research-final-defense'%}">Research Final Defense</a>
            <a class="collapse-item" href="{% url 'student-bet5-final-panel-conforme' %}">Final - Panel Conforme</a>
            <a class="collapse-item" href="{% url 'student-acknowledgement-receipt-download' %}">Acknowledgement Receipt</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Logs Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLogs" aria-expanded="true" aria-controls="collapseLogs">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <span>Logs</span>
        </a>
        <div id="collapseLogs" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">BET-3</h6>
            <a class="collapse-item" href="{% url 'student-bet3-panel-invitation-logs' %}">Topic - Panel Invitation</a>
            <a class="collapse-item" href="#">Research Title Defense</a>
            <a class="collapse-item" href="#">Adviser Conforme</a>
            <a class="collapse-item" href="{% url 'student-bet3-proposal-defense-panel-invitation-logs' %}">Proposal - Panel Invitation</a>
            <a class="collapse-item" href="#">Critique Form</a>
            <a class="collapse-item" href="#">Research Proposal Defense</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">BET-5</h6>
            <a class="collapse-item" href="#">Final - Panel Invitation</a>
            <a class="collapse-item" href="#">Research Final Defense</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - The Developers -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student-the-devs' %}">
          <i class="fa-solid fa-code"></i>
          <span>The Devs</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        {% include 'topbar.html'%}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="row">
            <div class="col-12 mb-3">
              <div class="card border-left-dark shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                        Student</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Welcome {{student_leader_data.first_name}}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fa-solid fa-face-laugh-beam fa-2x tup-colorway-secondary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 mb-3">
              <div class="card border-left-dark shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                        Today</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{date_today}}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fa-solid fa-sun fa-2x tup-colorway-secondary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="row">

                <div class="col-sm-12 mb-3">
                  <div class="card border-left-dark shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                            Upcoming Defense Schedule</div>
                          {% if student_leader_data.title_defense_status != "completed" and student_leader_data.research_title_defense_date != "" %}
                          <div class="h5 mb-0 font-weight-bold text-gray-800">Title Defense -
                            {{student_leader_data.research_title_defense_date}} -
                            {{student_leader_data.research_title_defense_start_time}} to
                            {{student_leader_data.research_title_defense_end_time}}
                          </div>
                          {% elif student_leader_data.bet3_proposal_defense_status != "completed" and student_leader_data.research_proposal_defense_date != "" %}
                          <div class="h5 mb-0 font-weight-bold text-gray-800">Proposal Defense -
                            {{student_leader_data.research_proposal_defense_date}} -
                            {{student_leader_data.research_proposal_defense_start_time}} to
                            {{student_leader_data.research_proposal_defense_end_time}}
                          </div>
                          {% else %}
                          <div class="h5 mb-0 font-weight-bold text-gray-800"> No Upcoming Defense Schedule
                          </div>
                          {% endif %}
                        </div>
                        <div class="col-auto">
                          <i class="fa-solid fa-calendar-day fa-2x tup-colorway-secondary"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>

            <div class="col-md-6 col-sm-12 mb-3">
              <div class="row">
                <div class="col-sm-12 mb-3">
                  <div class="card border-left-dark shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                            Research Forms Progress</div>
                          <div class="h5 mt-3 mb-2 font-weight-bold text-gray-800">BET-3</div>
                          {% if student_leader_data.group_members_status == "completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Group Members</div>
                          <hr class="m-1">
                          {% else %}
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Group Members</div>
                          <hr class="m-1">
                          {% endif %}

                          {% if student_leader_data.research_titles_status == "completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Research Titles</div>
                          <hr class="m-1">
                          {% else %}
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Research Titles</div>
                          <hr class="m-1">
                          {% endif %}

                          {% if student_leader_data.bet3_panel_invitation_status == "completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Panel Invitation - Topic Defense</div>
                          <hr class="m-1">
                          {% else %}
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Panel Invitation - Topic Defense</div>
                          <hr class="m-1">
                          {% endif %}

                          {% if student_leader_data.title_defense_status == "completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Research Title Defense Form</div>
                          <hr class="m-1">
                          {% else %}
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Research Title Defense Form</div>
                          <hr class="m-1">
                          {% endif %}

                          {% if student_leader_data.topic_panel_conforme == "completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Panel Conforme - Topic Defense</div>
                          <hr class="m-1">
                          {% else %}
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Panel Conforme - Topic Defense</div>
                          <hr class="m-1">
                          {% endif %}

                          {% if student_leader_data.adviser_conforme_status == "Completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Adviser Conforme</div>
                          <hr class="m-1">
                          {% else %}
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Adviser Conforme</div>
                          <hr class="m-1">
                          {% endif %}

                          {% if student_leader_data.bet3_proposal_defense_panel_invitation_status == "completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Panel Invitation - Proposal Defense</div>
                          <hr class="m-1">
                          {% else %}
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Panel Invitation - Proposal Defense</div>
                          <hr class="m-1">
                          {% endif %}

                          {% if student_leader_data.bet3_proposal_defense_status == "completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Critique Form</div>
                          <hr class="m-1">

                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Research Proposal Defense Form</div>
                          <hr class="m-1">

                          {% else %}

                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Critique Form</div>
                          <hr class="m-1">
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Research Proposal Defense Form</div>
                          <hr class="m-1">
                          {% endif %}

                          {% if student_leader_data.proposal_panel_conforme == "completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Panel Conforme - Proposal Defense</div>
                          <hr class="m-1">
                          {% else %}
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Panel Conforme - Proposal Defense</div>
                          <hr class="m-1">
                          {% endif %}
                        </div>
                        <div class="col-auto">
                          <i class="fa-solid fa-list-check fa-2x tup-colorway-secondary"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-6 col-sm-12 mb-3">
              <div class="row">
                <div class="col-sm-12 mb-3">
                  <div class="card border-left-dark shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                            Research Forms Progress</div>
                          
                          <div class="h5 mt-3 mb-2 font-weight-bold text-gray-800">BET-5/5L</div>
                          
                          {% if student_leader_data.bet5_final_defense_panel_invitation_status == "completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Panel Invitation - Research Final Defense</div>
                          <hr class="m-1">
                          {% else %}
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Panel Invitation - Research Final Defense</div>
                          <hr class="m-1">
                          {% endif %}

                          {% if student_leader_data.bet5_final_defense_status == "completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Research Final Defense Form</div>
                          <hr class="m-1">
                          {% else %}
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Research Final Defense Form</div>
                          <hr class="m-1">
                          {% endif %}

                          {% if student_leader_data.final_panel_conforme == "completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                           Final Panel Conforme</div>
                          <hr class="m-1">
                          {% else %}
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                           Final Panel Conforme</div>
                          <hr class="m-1">
                          {% endif %}
   
                          
                          {% if student_leader_data.acknowledgement_receipt == "completed" %}
                          <div class="h6 mb-1 font-weight-bold text-success"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp;
                            Acknowledgement Receipt</div>
                          <hr class="m-1">
                          {% else %}
                          <div class="h6 mb-1 font-weight-bold text-danger"><i class="fa-regular fa-circle-xmark"></i>&nbsp;&nbsp;
                            Acknowledgement Receipt</div>
                          <hr class="m-1">
                          {% endif %}

                        </div>
                        <div class="col-auto">
                          <i class="fa-solid fa-list-check fa-2x tup-colorway-secondary"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include 'logout-modal.html' %}

  {% include 'script-cdn.html' %}

  {% if response == 'sweet panel invitation bet-3 success' %}
  <script>
    Swal.fire("Submitted", "Panel Invitation BET-3 submitted.", "success");
    setTimeout(function () {
      window.location.replace("{% url 'student-dashboard' %}");
    }, 2000);
  </script>
  {% endif %}

  {% if response == 'sweet no group members' %}
  <script>
    Swal.fire("Invalid", "Unable to access this page. Please submit your Group Members information.", "error");
  </script>
  {% endif %}

  {% if response == 'sweet incomplete title defense' %}
  <script>
    Swal.fire("Unauthorized", "Unable to access this page. <br> Research Title Defense is incomplete.", "error");
    setTimeout(function () {
      window.location.replace("{% url 'student-dashboard' %}");
    }, 2000);
  </script>
  {% endif %}

  {% if response == 'sweet incomplete proposal defense' %}
  <script>
    Swal.fire("Unauthorized", "Unable to access this page. <br> Research Proposal Defense is incomplete.", "error");
    setTimeout(function () {
      window.location.replace("{% url 'student-dashboard' %}");
    }, 2000);
  </script>
  {% endif %}

  {% if response == 'sweet incomplete final defense' %}
  <script>
    Swal.fire("Unauthorized", "Unable to access this page. <br> Research Final Defense is incomplete.", "error");
    setTimeout(function () {
      window.location.replace("{% url 'student-dashboard' %}");
    }, 2000);
  </script>
  {% endif %}

</body>

</html>