{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <title>Student - Acknowledgement Receipt - Dashboard</title>

    {% include 'css-main-cdn.html' %}
    <link href="{% static 'css/file-loader.css' %}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      
      {% include 'student-sidebar-forms.html' %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          {% include 'topbar.html'%}

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
              <div class="col-lg-9 col-md-12 mb-3">
                <h1 class="h3 mb-0 text-gray-800">Acknowledgement Receipt</h1>
              </div>
            </div>

            <!-- DataTales Example -->
            <div class="card shadow mb-2">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered text-center" id="bet3PanelInvitation" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>ID Number</th>
                        <th>Receivers Name</th>
                        <th>Department</th>
                        <th>To Receive</th>
                        <th>Receivers Response</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr >
                        <th>ID Number</th>
                        <th>ReceiversName</th>
                        <th>Department</th>
                        <th>To receive</th>
                        <th>Receivers Response</th>
                      </tr>
                    </tfoot>
                    <tbody class="text-dark">
                      <tr>
                        <td>{{acknowledgement_receipt.dit_head_username}}</td>
                        <td>{{acknowledgement_receipt.dit_head_full_name}}</td>
                        <td>Industrial Technology</td>
                        <td>Hardcopy of Manuscript <br> Softcopy of Manuscript in CD</td>
                        
                        {% if acknowledgement_receipt.dit_head_response == "pending" %}
                        <td>{{acknowledgement_receipt.dit_head_response}}</td>
                        {% elif acknowledgement_receipt.dit_head_response == "Accepted" %}
                        <td class="text-success">{{acknowledgement_receipt.dit_head_response}}</td>
                        {% else %}
                        <td>{{acknowledgement_receipt.dit_head_response}}</td>
                        {% endif %}
                      </tr>

                      <tr>
                        {% if acknowledgement_receipt.adaa_username %}
                        <td>{{acknowledgement_receipt.adaa_username}}</td>
                        <td>{{acknowledgement_receipt.adaa_full_name}}</td>
                        {% else %}
                        <td>N/A</td>
                        <td>N/A</td>
                        {% endif %}
                        <td>Academic Affairs Office</td>
                        <td>Softcopy of Manuscript in CD</td>
                        
                        {% if acknowledgement_receipt.adaa_response == "pending" %}
                        <td>{{acknowledgement_receipt.adaa_response}}</td>
                        {% elif acknowledgement_receipt.adaa_response == "Accepted" %}
                        <td class="text-success">{{acknowledgement_receipt.adaa_response}}</td>
                        {% else %}
                        <td>{{acknowledgement_receipt.adaa_response}}</td>
                        {% endif %}
                      </tr>

                      <tr>
                        {% if acknowledgement_receipt.library_username %}
                        <td>{{acknowledgement_receipt.library_username}}</td>
                        <td>{{acknowledgement_receipt.library_full_name}}</td>
                        {% else %}
                        <td>N/A</td>
                        <td>N/A</td>
                        {% endif %}
                        <td>Library</td>
                        <td>Hardcopy of Manuscript <br> Softcopy of Manuscript in CD</td>
                        
                        {% if acknowledgement_receipt.library_response == "pending" %}
                        <td>{{acknowledgement_receipt.library_response}}</td>
                        {% elif acknowledgement_receipt.library_response == "Accepted" %}
                        <td class="text-success">{{acknowledgement_receipt.library_response}}</td>
                        {% else %}
                        <td>{{acknowledgement_receipt.library_response}}</td>
                        {% endif %}
                      </tr>

                      <tr>
                        {% if acknowledgement_receipt.research_ext_username %}
                        <td>{{acknowledgement_receipt.research_ext_username}}</td>
                        <td>{{acknowledgement_receipt.research_ext_full_name}}</td>
                        {% else %}
                        <td>N/A</td>
                        <td>N/A</td>
                        {% endif %}
                        <td>Research & Extension</td>
                        <td>Softcopy of Manuscript in CD</td>
                        
                        {% if acknowledgement_receipt.research_ext_response == "pending" %}
                        <td>{{acknowledgement_receipt.research_ext_response}}</td>
                        {% elif acknowledgement_receipt.research_ext_response == "Accepted" %}
                        <td class="text-success">{{acknowledgement_receipt.research_ext_response}}</td>
                        {% else %}
                        <td>{{acknowledgement_receipt.research_ext_response}}</td>
                        {% endif %}
                      </tr>

                      <tr>
                        {% if acknowledgement_receipt.adviser_username %}
                        <td>{{acknowledgement_receipt.adviser_username}}</td>
                        <td>{{acknowledgement_receipt.adviser_full_name}}</td>
                        {% else %}
                        <td>N/A</td>
                        <td>N/A</td>
                        {% endif %}
                        <td>Adviser</td>
                        <td>Hardcopy of Manuscript <br> Softcopy of Manuscript in CD</td>
                        
                        {% if acknowledgement_receipt.adviser_response == "pending" %}
                        <td>{{acknowledgement_receipt.adviser_response}}</td>
                        {% elif acknowledgement_receipt.adviser_response == "Accepted" %}
                        <td class="text-success">{{acknowledgement_receipt.adviser_response}}</td>
                        {% else %}
                        <td>{{acknowledgement_receipt.adviser_response}}</td>
                        {% endif %}
                      </tr>

                      <tr>
                        {% if acknowledgement_receipt.subject_teacher_username %}
                        <td>{{acknowledgement_receipt.subject_teacher_username}}</td>
                        <td>{{acknowledgement_receipt.subject_teacher_full_name}}</td>
                        {% else %}
                        <td>N/A</td>
                        <td>N/A</td>
                        {% endif %}
                        <td>Faculty in Charge</td>
                        <td>Softcopy of Manuscript in CD</td>
                        
                        {% if acknowledgement_receipt.subject_teacher_response == "pending" %}
                        <td>{{acknowledgement_receipt.subject_teacher_response}}</td>
                        {% elif acknowledgement_receipt.subject_teacher_response == "Accepted" %}
                        <td class="text-success">{{acknowledgement_receipt.subject_teacher_response}}</td>
                        {% else %}
                        <td>{{acknowledgement_receipt.subject_teacher_response}}</td>
                        {% endif %}
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% if student_leader_data.acknowledgement_receipt != "completed" %}
            {% if acknowledgement_receipt.dit_head_response == "Accepted" and acknowledgement_receipt.adaa_response == "Accepted" and  acknowledgement_receipt.library_response == "Accepted" and acknowledgement_receipt.research_ext_response == "Accepted" and acknowledgement_receipt.adviser_response == "Accepted" %} 
              <a class="btn btn-outline-success mb-2 w-100" type="button" href="{% url 'student-acknowledgement-receipt-save' %}">Mark as Completed</a>
            {% endif %}
            {% endif %}

            {% if student_leader_data.acknowledgement_receipt == "completed" %}
              <a class="btn btn-outline-success mb-2 w-100" type="button" onclick="generatingForm()" href="{% url 'student-acknowledgement-receipt-download' %}">DOWNLOAD FORM</a>
            {% endif %}


          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content img-fluid">
              <div class="modal-body text-center">
                <div class="spinner-border file-spinner mt-5 mb-3" style="width: 6rem; height: 6rem" role="status">
                  <span class="sr-only">Loading...</span>
                </div>

                <div class="container move mt-5 mb-5 file-show" style="display: none">
                  <svg class="file fadein" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                    <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                    <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                  </svg>

                  <svg class="file zoomin" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                    <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                    <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                  </svg>

                  <svg class="file zoomout" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                    <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                    <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                    <path class="file-check done" d="M26.8,20.6L14.9,32.5l-5.7-5.7l2.1-2.1l3.6,3.6l9.8-9.9L26.8,20.6z" />
                    <circle class="file-loading load" cx="13" cy="21" r="7.7"></circle>
                  </svg>

                  <svg class="file fadeout" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                    <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                    <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                    <path class="file-check" d="M26.8,20.6L14.9,32.5l-5.7-5.7l2.1-2.1l3.6,3.6l9.8-9.9L26.8,20.6z" />
                  </svg>
                </div>
                <h3 id="simpleUsage" class="mb-5"></h3>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->

       <!-- Modal -->
       <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content img-fluid">
            <div class="modal-body text-center">
              <div class="spinner-border file-spinner mt-5 mb-3" style="width: 6rem; height: 6rem" role="status">
                <span class="sr-only">Loading...</span>
              </div>

              <div class="container move mt-5 mb-5 file-show" style="display: none">
                <svg class="file fadein" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                  <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                  <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                </svg>

                <svg class="file zoomin" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                  <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                  <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                </svg>

                <svg class="file zoomout" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                  <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                  <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                  <path class="file-check done" d="M26.8,20.6L14.9,32.5l-5.7-5.7l2.1-2.1l3.6,3.6l9.8-9.9L26.8,20.6z" />
                  <circle class="file-loading load" cx="13" cy="21" r="7.7"></circle>
                </svg>

                <svg class="file fadeout" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                  <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                  <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                  <path class="file-check" d="M26.8,20.6L14.9,32.5l-5.7-5.7l2.1-2.1l3.6,3.6l9.8-9.9L26.8,20.6z" />
                </svg>
              </div>
              <h3 id="simpleUsage" class="mb-5"></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include 'logout-modal.html' %} 
    {% include 'script-cdn.html' %}

    <script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>
    <script>
      function generatingForm() {
        $("#myModal").modal();

        new TypeIt("#simpleUsage", {
          speed: 20,
          waitUntilVisible: true,
          loop: true,
        })
          .type("Loading...", { delay: 500 })
          .delete(10)
          .type("Extracting Data...", { delay: 500 })
          .delete(18)
          .type("Generating PDF...", { delay: 500 })
          .go();
      }
    </script>

    {% if response == 'sweet downloaded' %}
    <script>
      Swal.fire("Downloaded", "The Acknowledgement Receipt has been downloaded.", "success");

      if ("{{download_link}}") {
        window.open("{{download_link}}", '_blank').focus();
      }
    </script>
    {% endif %} 
    
    {% if response == 'sweet acknowledgement receipt completed' %}
    <script>
      Swal.fire("Completed", "Acknowledgement Receipt completed.", "success");
      setTimeout(function () {
        window.location.replace("{% url 'student-acknowledgement-receipt' %}");
      }, 4000);
    </script>
    {% endif %}

    {% if response == 'sweet faculty member no signature' %}
    <script>
      Swal.fire("Uh-oh", "The Faculty Member might have remove his or her signature. <br> Please try again later.", "error");

      setTimeout(function () {
        window.location.replace("{% url 'student-acknowledgement-receipt' %}");
      }, 4000);
    </script>
    {% endif %}

  </body>
</html>
