{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <title>Student - BET5 - Final Defense - Panel Invitation - Logs</title>

    {% include 'css-main-cdn.html' %}
    <link href="{% static 'css/file-loader.css' %}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      
      {% include 'student-sidebar-logs.html' %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

          {% include 'topbar.html'%}

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
              <div class="col-lg-9 col-md-12 mb-3">
                <h1 class="h3 mb-0 text-gray-800"><i class="fa-solid fa-clock-rotate-left"></i> BET-5 - Final Defense - Panel Invitation - Logs </h1>
              </div>
            </div>

            <!-- DataTales Example -->
            <div class="card shadow mb-2">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered text-center" id="bet3PanelInvitation" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Ref No.</th>
                        <th>DIT Head ID No.</th>
                        <th>DIT Head Name</th>
                        <th>DIT Head Response</th>
                        <th>Panel ID No.</th>
                        <th>Panel Name</th>
                        <th>Panel Response</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Ref No.</th>
                        <th>DIT Head ID No.</th>
                        <th>DIT Head Name</th>
                        <th>DIT Head Response</th>
                        <th>Panel ID No.</th>
                        <th>Panel Name</th>
                        <th>Panel Response</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for panel_invitation in panel_invitations %}
                      <tr>
                        <td>{{panel_invitation.id}}</td>
                        <td>{{panel_invitation.dit_head_username}}</td>
                        <td>{{panel_invitation.dit_head_full_name}}</td>

                        {% if panel_invitation.dit_head_response == "accepted" %}
                        <td class="text-success">{{panel_invitation.dit_head_response}}</td>
                        {% elif panel_invitation.dit_head_response == "declined"%}
                        <td class="text-danger">{{panel_invitation.dit_head_response}}</td>
                        {% else %}
                        <td>{{panel_invitation.dit_head_response}}</td>
                        {% endif %}

                        <td>{{panel_invitation.panel_username}}</td>
                        <td>{{panel_invitation.panel_full_name}}</td>

                        {% if panel_invitation.panel_response == "accepted" %}
                        <td class="text-success">{{panel_invitation.panel_response}}</td>
                        {% elif panel_invitation.panel_response == "declined"%}
                        <td class="text-danger">{{panel_invitation.panel_response}}</td>
                        {% else %}
                        <td>{{panel_invitation.panel_response}}</td>
                        {% endif %} {% if panel_invitation.form_status == "accepted" %}
                        <td class="text-success">{{panel_invitation.form_status}}</td>
                        {% elif panel_invitation.form_status == "declined - DIT Head" or panel_invitation.form_status == "declined" %}
                        <td class="text-danger">{{panel_invitation.form_status}}</td>
                        {% else %}
                        <td>{{panel_invitation.form_status}}</td>
                        {% endif %} {% if student_leader_data.bet3_panel_invitation_status == "completed" %} {% if panel_invitation.form_status == "accepted" %}
                        <td class="text-center"><a class="btn btn-outline-success" onclick="generatingForm()" href="#">DOWNLOAD FORM</a></td>
                        {% elif panel_invitation.form_status == "declined" %}
                        <td class="text-center"><a class="btn btn-outline-success" onclick="generatingForm()" href="#">DOWNLOAD FORM</a></td>
                        {% else %}
                        <td></td>
                        {% endif %} {% else %}
                        <td></td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% if student_leader_data.bet3_panel_invitation_status != "completed" %} {% if accepted_panel_invitations >= 3 and pending_panel_invitations == 0 %}
            <a class="btn btn-outline-success mb-2 w-100" type="button" href="{% url 'student-panel-invitation-bet3-save' %}">Mark as Completed</a>
            {% endif %} {% endif %}
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content img-fluid">
              <div class="modal-body text-center">
                <div class="spinner-border file-spinner mt-5 mb-3" style="width: 6rem; height: 6rem" role="status">
                  <span class="sr-only">Loading...</span>
                </div>

                <div class="container move mt-5 mb-5 file-show" style="display: none">
                  <svg class="file fadein" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                    <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                    <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                  </svg>

                  <svg class="file zoomin" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                    <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                    <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                  </svg>

                  <svg class="file zoomout" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                    <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                    <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                    <path class="file-check done" d="M26.8,20.6L14.9,32.5l-5.7-5.7l2.1-2.1l3.6,3.6l9.8-9.9L26.8,20.6z" />
                    <circle class="file-loading load" cx="13" cy="21" r="7.7"></circle>
                  </svg>

                  <svg class="file fadeout" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                    <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                    <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                    <path class="file-check" d="M26.8,20.6L14.9,32.5l-5.7-5.7l2.1-2.1l3.6,3.6l9.8-9.9L26.8,20.6z" />
                  </svg>
                </div>
                <h3 id="simpleUsage" class="mb-5"></h3>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include 'logout-modal.html' %} {% include 'script-cdn.html' %}

    <script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>
    <script>
      function generatingForm() {
        $("#myModal").modal();

        new TypeIt("#simpleUsage", {
          speed: 20,
          waitUntilVisible: true,
          loop: true,
        })
          .type("Loading...", { delay: 500 })
          .delete(10)
          .type("Extracting data...", { delay: 500 })
          .delete(18)
          .type("Generating PDF...", { delay: 500 })
          .go();
      }
    </script>

    {% if response == 'sweet downloaded' %}
    <script>
      Swal.fire("Downloaded", "The Panel Invitation Form has been downloaded.", "success");

     if ("{{download_link}}") {
        window.open("{{download_link}}", '_blank').focus();
      }
    </script>
    {% endif %} {% if response == 'sweet request limit exceed' %}
    <script>
      Swal.fire("Uh-oh", "You have reached the Panel Invitation request limit.", "error");
      setTimeout(function () {
        window.location.replace("{% url 'student-panel-invitation-bet3' %}");
      }, 4000);
    </script>
    {% endif %} {% if response == 'sweet bet-3 panel invitation saved' %}
    <script>
      Swal.fire("Completed", "BET-3 Panel Invitation completed.", "success");
      setTimeout(function () {
        window.location.replace("{% url 'student-panel-invitation-bet3' %}");
      }, 4000);
    </script>
    {% endif %}

    {% if response == 'sweet incomplete bet3 panel invitation' %}
    <script>
      Swal.fire("Unathorized", "You can't access this page. Please complete the BET-3 Panel Invitation Form.", "error");

      setTimeout(function () {
        window.location.replace("{% url 'student-panel-invitation-bet3' %}");
      }, 4000);
    </script>
    {% endif %}

    {% if response == 'sweet no defense schedule' %}
    <script>
      Swal.fire("Uh-oh", "There are No Available Title Defense Schedule. Please try again later.", "error");

      setTimeout(function () {
        window.location.replace("{% url 'student-panel-invitation-bet3' %}");
      }, 4000);
    </script>
    {% endif %}

    <script>
      $(document).ready(function () {
        $('#bet3PanelInvitation').DataTable({
          order: [
            [0, 'desc']
          ],
        });
      });
    </script>

  </body>
</html>
