{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

  <title>Student - Profile</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

  <!-- Fontawesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Izitoast 1.4.0 CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet" />

  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student-dashboard' %}">
          <div class="img-fluid text-center"><img src="{% static 'img/TUP-Logo.png' %}" style="max-width: 55%;" alt="">
          </div>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student-dashboard' %}">
          <i class="fa-solid fa-house"></i>
          <span>Home</span></a>
      </li>

      <!-- Nav Item - Group Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGroup" aria-expanded="true" aria-controls="collapseGroup">
          <i class="fa-solid fa-users"></i>
          <span>Group</span>
        </a>
        <div id="collapseGroup" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'student-group-members' %}">Members</a>
            <a class="collapse-item" href="{% url 'student-research-titles' %}">Research Titles</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Forms Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForms" aria-expanded="true" aria-controls="collapseForms">
          <i class="fa-solid fa-folder-open"></i>
          <span>Forms</span>
        </a>
        <div id="collapseForms" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="#">Consultation Form</a>
            <h6 class="collapse-header">BET-3</h6>
            <a class="collapse-item" href="{% url 'student-panel-invitation-bet3' %}">Topic - Panel Invitation</a>
            <a class="collapse-item" href="{% url 'student-bet3-research-title-defense' %}">Research Title Defense</a>
            <a class="collapse-item" href="{% url 'student-bet3-topic-panel-conforme'%}">Topic - Panel Conforme</a>
            <a class="collapse-item" href="{% url 'student-bet3-adviser-dashboard' %}">Adviser Conforme</a>
            <a class="collapse-item" href="{% url 'student-bet3-proposal-defense-panel-invitation' %}">Proposal - Panel Invitation</a>
            <a class="collapse-item" href="{% url 'student-bet3-critique-form' %}">Critique Form</a>
            <a class="collapse-item" href="{% url 'student-bet3-research-proposal-defense' %}">Research Proposal Defense</a>
            <a class="collapse-item" href="{% url 'student-bet3-proposal-panel-conforme' %}">Proposal - Panel Conforme</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">BET-5</h6>
            {% if student_leader_data.bet3_proposal_defense_status %}
            {% if not student_leader_data.bet5_subject_teacher_name %}
            <a class="collapse-item" href="{% url 'student-bet5-subject-teacher' %}">BET-5 Subject Teacher</a>
            {% endif %}
            {% endif %}
            <a class="collapse-item" href="{% url 'student-bet5-final-defense-panel-invitation' %}">Final - Panel Invitation</a>
            <a class="collapse-item" href="{% url 'student-bet5-research-final-defense'%}">Research Final Defense</a>
            <a class="collapse-item" href="{% url 'student-bet5-final-panel-conforme' %}">Final - Panel Conforme</a>
            <a class="collapse-item" href="{% url 'student-acknowledgement-receipt' %}">Acknowledgement Receipt</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Logs Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLogs" aria-expanded="true" aria-controls="collapseLogs">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <span>Logs</span>
        </a>
        <div id="collapseLogs" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">BET-3</h6>
            <a class="collapse-item" href="{% url 'student-bet3-panel-invitation-logs' %}">Topic - Panel Invitation</a>
            <a class="collapse-item" href="#">Research Title Defense</a>
            <a class="collapse-item" href="#">Adviser Conforme</a>
            <a class="collapse-item" href="{% url 'student-bet3-proposal-defense-panel-invitation-logs' %}">Proposal - Panel Invitation</a>
            <a class="collapse-item" href="#">Critique Form</a>
            <a class="collapse-item" href="#">Research Proposal Defense</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">BET-5</h6>
            <a class="collapse-item" href="#">Final - Panel Invitation</a>
            <a class="collapse-item" href="#">Research Final Defense</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - The Developers -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student-the-devs' %}">
          <i class="fa-solid fa-code"></i>
          <span>The Devs</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        {% include 'topbar.html'%}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-3">
            <h1 class="h3 mb-0 text-gray-800 d-inline mr-2"><i class="fa-solid fa-user"></i> User Profile</h1>
            <button type="button" class="btn btn-outline-primary d-inline" data-toggle="modal" data-target="#btn_info"><i class="fa-solid fa-circle-info"></i></button>

          </div>

          <!-- User Profile Start -->
          <div class="card border-left-dark shadow h-100 py-2 mb-3">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="form-group">
                    <label for="exampleInputEmail1">First Name:</label>
                    <input type="text" class="form-control" value="{{user_first_name}}" disabled />
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Middle Name:</label>
                    <input type="text" class="form-control" value="{{user_middle_name}}" disabled />
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Last Name:</label>
                    <input type="text" class="form-control" value="{{user_last_name}}" disabled />
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Suffix:</label>
                    <input type="text" class="form-control" value="{{user_suffix}}" disabled />
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Course:</label>
                    <input type="text" class="form-control" value="{{course_name}}" disabled />
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Major:</label>
                    <input type="text" class="form-control" value="{{major_name}}" disabled />
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Username:</label>
                    <input type="text" class="form-control" value="{{username}}" disabled />
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Email:</label>
                    <input type="text" class="form-control" value="{{user_email}}" disabled />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- User Profile End -->

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-3">
            <h1 class="h3 mb-0 text-gray-800"><i class="fa-solid fa-key"></i> Change Password</h1>
          </div>

          <!-- Account Settings Start -->
          <div class="card border-left-danger shadow h-100 py-2 mb-3">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <form method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                      <label for="exampleInputEmail1">Current Password:</label>
                      <input type="password" class="form-control" name="current_password_input" required />
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">New Password:</label>
                      <input type="password" class="form-control" name="new_password_input" required />
                    </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Retype New Password:</label>
                      <input type="password" class="form-control" name="confirm_new_password_input" required />
                    </div>

                    <button type="submit" class="btn btn-outline-success w-100"><i class="fa-solid fa-check"></i> Save Changes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Account Settings End -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Modal -->
      <div class="modal fade" id="btn_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content text-center">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Do you want to update your user profile?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              Your User Profile Information can only be edited or updated by the Admin. <br> Please proceed to UITC if you wish update to your Profile Information. Thank you.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      {% include 'footer.html'%}
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include 'logout-modal.html' %} {% include 'script-cdn.html' %} {% if response == 'current password is incorrect' %}
  <script>
    iziToast.error({
      title: "Invalid",
      message: "The Password you entered is incorrect.",
      position: "topCenter",
      timeout: 5000,
    });
  </script>
  {% endif %} {% if response == 'new password and confirm new password doesnt match' %}
  <script>
    iziToast.error({
      title: "Invalid",
      message: "The New Password and Confirm Password you entered doesn't match.",
      position: "topCenter",
      timeout: 5000,
    });
  </script>
  {% endif %} {% if response == 'current password and new password is same' %}
  <script>
    iziToast.error({
      title: "Invalid",
      message: "The Current Password and New Password you entered is the same.",
      position: "topCenter",
      timeout: 5000,
    });
  </script>
  {% endif %}
</body>

</html>