{% if panel_invitation_bet3.dit_head_response == "Pending" %}
<tr>
  <td>{{panel_invitation_bet3.research_title_1}}</td>
  <td>Panel Invitation BET-3</td>
  <td>{{panel_invitation_bet3.dit_head_name}} - DIT HEAD</td>
  <td>Pending</td>
</tr>
{% endif %}

{% if panel_invitation_bet3.panel_member_response_1 == "pending" %}
<tr>
  <td>{{panel_invitation_bet3.research_title_1}}</td>
  <td>Panel Invitation BET-3</td>
  <td>{{panel_invitation_bet3.panel_member_name_1}} - Panel</td>
  <td>Pending</td>
</tr>
{% endif %} 

{% if panel_invitation_bet3.panel_member_response_2 == "pending" %}
<tr>
  <td>{{panel_invitation_bet3.research_title_1}}</td>
  <td>Panel Invitation BET-3</td>
  <td>{{panel_invitation_bet3.panel_member_name_2}} - Panel</td>
  <td>Pending</td>
</tr>
{% endif %} 

{% if panel_invitation_bet3.panel_member_response_3 == "pending" %}
<tr>
  <td>{{panel_invitation_bet3.research_title_1}}</td>
  <td>Panel Invitation BET-3</td>
  <td>{{panel_invitation_bet3.panel_member_name_3}} - Panel</td>
  <td>Pending</td>
</tr>
{% endif %} 

{% if panel_invitation_bet3.panel_member_response_4 == "pending" %}
<tr>
  <td>{{panel_invitation_bet3.research_title_1}}</td>
  <td>Panel Invitation BET-3</td>
  <td>{{panel_invitation_bet3.panel_member_name_4}} - Panel</td>
  <td>Pending</td>
</tr>
{% endif %} 

{% if panel_invitation_bet3.panel_member_response_5 == "pending" %}
<tr>
  <td>{{panel_invitation_bet3.research_title_1}}</td>
  <td>Panel Invitation BET-3</td>
  <td>{{panel_invitation_bet3.panel_member_name_5}} - Panel</td>
  <td>Pending</td>
</tr>
{% endif %} 