{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Student - Panel Conforme - BET-3</title>

    {% include 'css-main-cdn.html ' %}
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      {% include 'student-form-sidebar.html' %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) (Visible Only XS) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >{{user_full_name}} <br />
                    <div class="float-right">Student</div>
                  </span>
                  <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}" />
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="{% url 'student-profile'%}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-3">
                <h1 class="h3 mb-0 text-gray-800">
                    Panel Conforme (BET-3) -
                    {% if form_status == 'Completed' %}
                    <p class="text-success d-inline">{{form_status}}</p>
                    {% else %}
                    <p class="text-warning d-inline">{{form_status}}</p>
                    {% endif %}
                </h1>

                {% if form_status == 'Completed' %}
                    <div class="float-right">
                    <button type="button" class="btn btn-success"><i class="fa-solid fa-file-pdf"></i> Download Form</button>
                </div>
                {% endif %}
            </div>


            <div class="card border-left-info shadow h-100 py-2 mb-3">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <h5 class="h6 mb-0 text-gray-800 mb-2">Department of Indsutrial Technology Head:</h5>
                    <input type="text" class="form-control mb-3" value="{{dept_head_name}}" disabled />

                    <h6 class="h6 mb-0 text-gray-800 mb-2">Panel Members:</h6>
                    <input type="text" class="form-control mb-3" value="{{panel1}}" disabled />
                    <input type="text" class="form-control mb-3" value="{{panel2}}" disabled />
                    <input type="text" class="form-control mb-3" value="{{panel3}}" disabled />
                    <input type="text" class="form-control mb-3" value="{{panel4}}" disabled />
                    <input type="text" class="form-control mb-3" value="{{panel5}}" disabled />
                    

                    <h6 class="h6 mb-0 text-gray-800 mb-2">Group Members:</h6>
                    <input type="text" class="form-control mb-3" value="{{student1}}" disabled />
                    <input type="text" class="form-control mb-3" value="{{student2}}" disabled />
                    <input type="text" class="form-control mb-3" value="{{student3}}" disabled />
                    <input type="text" class="form-control mb-3" value="{{student4}}" disabled />
                    <input type="text" class="form-control mb-3" value="{{student5}}" disabled />

                    <h6 class="h6 mb-0 text-gray-800 mb-2">Course:</h6>
                    <input type="text" class="form-control mb-3" value="{{course}}" disabled />

                    <h6 class="h6 mb-0 text-gray-800 mb-2">Major:</h6>
                    <input type="text" class="form-control mb-3" value="{{major}}" disabled />

                    <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title:</h6>
                    <input type="text" class="form-control mb-3" value="{{research_title}}" disabled />

                  </div>
                </div>
              </div>
            </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include 'logout-modal.html' %} {% include 'script-cdn.html' %}
  </body>
</html>
