{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Student - Add Group Members</title>

  {% include 'css-main-cdn.html' %}
</head>

<body id="page-top">
  <div id="wrapper">

    {% include 'student-sidebar-group.html' %}

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {% include 'topbar.html'%}

        <div class="container-fluid">
          <!-- <div class="d-sm-flex align-items-center justify-content-between mb-3">
              <h1 class="h3 mb-0 text-gray-800">Research Title</h1>
            </div> -->

          <form method="POST">
            {% csrf_token %}

            <div class="card border-left-dark shadow h-100 py-2 mb-3">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <h6 class="h4 mb-0 text-gray-800 mb-2">Research Title:</h6>

                    <h6 class="h6 mb-0 text-gray-800 mb-2">How many Research Title you have in a group?</h6>
                    <select id="research_title_count" class="custom-select mb-4">
                      <option selected value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>

                    <div id="research_title_1" class="form-group mb-3">
                      <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #1</h6>
                      <input type="text" id="research_title_1_input" class="form-control" name="research_title_1_input"
                        style="text-transform: capitalize" required />
                    </div>

                    <div id="research_title_2" class="form-group mb-3" style="display: None">
                      <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #2</h6>
                      <input type="text" id="research_title_2_input" class="form-control" name="research_title_2_input"
                        style="text-transform: capitalize" />
                    </div>

                    <div id="research_title_3" class="form-group mb-3" style="display: None">
                      <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #3</h6>
                      <input type="text" id="research_title_3_input" class="form-control" name="research_title_3_input"
                        style="text-transform: capitalize" />
                    </div>

                    <div id="research_title_4" class="form-group mb-3" style="display: None">
                      <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #4</h6>
                      <input type="text" id="research_title_4_input" class="form-control" name="research_title_4_input"
                        style="text-transform: capitalize" />
                    </div>

                    <div id="research_title_5" class="form-group mb-3" style="display: None">
                      <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #5</h6>
                      <input type="text" id="research_title_5_input" class="form-control" name="research_title_5_input"
                        style="text-transform: capitalize" />
                    </div>

                    <button type="button" class="btn btn-outline-success w-100" onclick="validateResearchTitleForm()">
                      Submit
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="researchTitleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Research Title/s</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">

                            <div class="form-group mb-4">
                              <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #1:</h6>
                              <h4 class="h4 mb-0 text-gray-800 mb-2" id="researchTitle1"
                                style="text-transform: capitalize;"></h4>

                              <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #2:</h6>
                              <h4 class="h4 mb-0 text-gray-800 mb-2" id="researchTitle2"
                                style="text-transform: capitalize;"></h4>

                              <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #3:</h6>
                              <h4 class="h4 mb-0 text-gray-800 mb-2" id="researchTitle3"
                                style="text-transform: capitalize;"></h4>

                              <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #4:</h6>
                              <h4 class="h4 mb-0 text-gray-800 mb-2" id="researchTitle4"
                                style="text-transform: capitalize;"></h4>

                              <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #5:</h6>
                              <h4 class="h4 mb-0 text-gray-800 mb-2" id="researchTitle5"
                                style="text-transform: capitalize;"></h4>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submmit" class="btn btn-outline-success">Confirm - Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include 'logout-modal.html' %} 
  {% include 'script-cdn.html' %} 
  {% include 'alert-validation.html' %}
  
  {% if response == 'sweet same research title' %}
  <script>
    Swal.fire("Invalid", "You entered a Research Title same with the input field.", "error");

    setTimeout(function () {
      window.location.replace("{% url 'student-add-research-titles' %}");
    }, 2000);
  </script>
  {% endif %} 
  
  {% if response == 'sweet research title exist' %}
  <script>
    Swal.fire("Invalid", "{{existing_research_title}} already exists.", "error");

    setTimeout(function () {
      window.location.replace("{% url 'student-add-research-titles' %}");
    }, 2000);
  </script>
  {% endif %}

  {% if response == 'sweet incomplete research titles' %}
  <script>
    Swal.fire("Unauthorized", "You can't access this page. Please submit the list of your Research Titles.", "error");

    setTimeout(function () {
      window.location.replace("{% url 'student-add-research-titles' %}");
    }, 2000);
  </script>
  {% endif %}

  <script>
    let research_title_count = document.querySelector("#research_title_count");
    let research_title_1 = document.querySelector("#research_title_1");
    let research_title_2 = document.querySelector("#research_title_2");
    let research_title_3 = document.querySelector("#research_title_3");
    let research_title_4 = document.querySelector("#research_title_4");
    let research_title_5 = document.querySelector("#research_title_5");

    let research_title_1_input = document.querySelector("#research_title_1_input");
    let research_title_2_input = document.querySelector("#research_title_2_input");
    let research_title_3_input = document.querySelector("#research_title_3_input");
    let research_title_4_input = document.querySelector("#research_title_4_input");
    let research_title_5_input = document.querySelector("#research_title_5_input");

    research_title_count.addEventListener("change", (event) => {
      if (research_title_count.value == "1") {
        research_title_1.style.display = "block";

        research_title_2.style.display = "none";
        research_title_2_input.removeAttribute("required");
        research_title_2_input.value = "";

        research_title_3.style.display = "none";
        research_title_3_input.removeAttribute("required");
        research_title_3_input.value = "";

        research_title_4.style.display = "none";
        research_title_4_input.removeAttribute("required");
        research_title_4_input.value = "";

        research_title_5.style.display = "none";
        research_title_5_input.removeAttribute("required");
        research_title_4_input.value = "";
      }

      if (research_title_count.value == "2") {
        research_title_1.style.display = "block";

        research_title_2.style.display = "block";
        research_title_2_input.required = true;

        research_title_3.style.display = "none";
        research_title_3_input.removeAttribute("required");
        research_title_3_input.value = "";

        research_title_4.style.display = "none";
        research_title_4_input.removeAttribute("required");
        research_title_4_input.value = "";

        research_title_5.style.display = "none";
        research_title_5_input.removeAttribute("required");
        research_title_4_input.value = "";
      }

      if (research_title_count.value == "3") {
        research_title_1.style.display = "block";

        research_title_2.style.display = "block";
        research_title_2_input.required = true;

        research_title_3.style.display = "block";
        research_title_3_input.required = true;

        research_title_4.style.display = "none";
        research_title_4_input.removeAttribute("required");
        research_title_4_input.value = "";

        research_title_5.style.display = "none";
        research_title_5_input.removeAttribute("required");
        research_title_4_input.value = "";
      }

      if (research_title_count.value == "4") {
        research_title_1.style.display = "block";

        research_title_2.style.display = "block";
        research_title_2_input.required = true;

        research_title_3.style.display = "block";
        research_title_3_input.required = true;

        research_title_4.style.display = "block";
        research_title_4_input.required = true;

        research_title_5.style.display = "none";
        research_title_5_input.removeAttribute("required");
        research_title_4_input.value = "";
      }

      if (research_title_count.value == "5") {
        research_title_1.style.display = "block";

        research_title_2.style.display = "block";
        research_title_2_input.required = true;

        research_title_3.style.display = "block";
        research_title_3_input.required = true;

        research_title_4.style.display = "block";
        research_title_4_input.required = true;

        research_title_5.style.display = "block";
        research_title_5_input.required = true;
      }
    });

    function validateResearchTitleForm() {
      document.querySelector("#researchTitle1").innerHTML = research_title_1_input.value
      document.querySelector("#researchTitle2").innerHTML = research_title_2_input.value
      document.querySelector("#researchTitle3").innerHTML = research_title_3_input.value
      document.querySelector("#researchTitle4").innerHTML = research_title_4_input.value
      document.querySelector("#researchTitle5").innerHTML = research_title_5_input.value
      $("#researchTitleModal").modal();
    }
  </script>
</body>

</html>