{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Student - Dashboard</title>

    {% include 'css-main-cdn.html ' %}
    
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

      {% include 'student-form-sidebar.html' %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          {% include 'topbar.html'%}

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-3">
              <h1 class="h3 mb-0 text-gray-800">Panel Conforme (BET-3)</h1>
              <!-- <div class="float-right">
                            <button type="button" class="btn btn-success"><i class="fa-solid fa-file-pdf"></i> Download
                                Form</button>
                        </div> -->
            </div>

            <form method="POST">

              {% csrf_token %}

              <div class="card border-left-info shadow h-100 py-2 mb-3">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">

                      <!-- Group Members Start -->
                      <div class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title:</h6>
                        <input type="text" class="form-control" name="research_title_input" style="text-transform: capitalize" required />
                      </div>

                      <div class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Course:</h6>
                        <input type="text" class="form-control" value="{{course_name}}" name="course_input" required disabled />
                      </div>

                      <div class="form-group mb-4">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Major:</h6>
                        <input type="text" class="form-control" value="{{major_name}}" name="major_input" required disabled />
                      </div>
                      <h6 class="h6 mb-0 text-gray-800 mb-2">Group Members:</h6>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">1</span>
                        </div>
                        <input type="text" class="form-control" value="{{leader_member_name}}" name="student1_input" style="text-transform: capitalize" placeholder="Surname, First Name M.I" placeholder="Surname, First Name M.I" required />
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">2</span>
                        </div>
                        <input type="text" class="form-control" name="student2_input" placeholder="Surname, First Name M.I" style="text-transform: capitalize" required />
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">3</span>
                        </div>
                        <input type="text" class="form-control" name="student3_input" placeholder="Surname, First Name M.I" style="text-transform: capitalize" required />
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">4</span>
                        </div>
                        <input type="text" class="form-control" name="student4_input" placeholder="Surname, First Name M.I" style="text-transform: capitalize" required />
                      </div>

                      <div class="input-group mb-5">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">5</span>
                        </div>
                        <input type="text" class="form-control" name="student5_input" placeholder="Surname, First Name M.I" style="text-transform: capitalize" required />
                      </div>
                       <!-- Group Members End -->

                       <!-- Department Head Start -->
                      <h6 class="h6 mb-0 text-gray-800 mb-2">Department of Industrial Technology - Head:</h6>
                      <div class="form-group mb-3">
                        <input type="text" class="form-control" value="{{dept_head_name}}" name="dept_head_name_input" style="text-transform: capitalize" required disabled />
                      </div>
                       <!-- Department Head End -->
                      
                      <!-- Panel Members Start -->
                      <h6 class="h6 mb-0 text-gray-800 mb-2">Panel Members:</h6>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">1</span>
                        </div>
                        <select class="custom-select" name="panel1_input" id="inputGroupSelect02" required>
                          <option value="default" selected>Choose panel member here...</option>
                          {% for panel in panel_members %}
                          <option value="{{panel}}">{{panel}}</option>
                          {% endfor %}
                        </select>
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">2</span>
                        </div>
                        <select class="custom-select" name="panel2_input" id="inputGroupSelect02" required>
                          <option value="default" selected>Choose panel member here...</option>
                          {% for panel in panel_members %}
                          <option value="{{panel}}">{{panel}}</option>
                          {% endfor %}
                        </select>
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">3</span>
                        </div>
                        <select class="custom-select" name="panel3_input" id="inputGroupSelect02" required>
                          <option value="default" selected>Choose panel member here...</option>
                          {% for panel in panel_members %}
                          <option value="{{panel}}">{{panel}}</option>
                          {% endfor %}
                        </select>
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">4</span>
                        </div>
                        <select class="custom-select" name="panel4_input" id="inputGroupSelect02" required>
                          <option value="default" selected>Choose panel member here...</option>
                          {% for panel in panel_members %}
                          <option value="{{panel}}">{{panel}}</option>
                          {% endfor %}
                        </select>
                      </div>

                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">5</span>
                        </div>
                        <select class="custom-select" name="panel5_input" id="inputGroupSelect02" required>
                          <option value="default" selected>Choose panel member here...</option>
                          {% for panel in panel_members %}
                          <option value="{{panel}}">{{panel}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <!-- Panel Members End -->
                        <button type="submit" class="btn btn-outline-success w-100">Submit</button>
                    </div>
                  </div>
                </div>
              </div>


            </form>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include 'logout-modal.html' %}

    {% include 'script-cdn.html' %}

    {% include 'alert-validation.html' %}

    {% if response == 'sweet inc form' %}
    <script>
      Swal.fire("Uh-oh", "Sorry, can't fill-up  form at the moment. \n Please try again later.", "warning");

      setTimeout(function () {
        window.location.replace("{% url 'student-dashboard' %}");
      }, 3000);
    </script>
    {% endif %}

    {% if response == 'sweet panel not in the list' %}
    <script>
      Swal.fire("Uh-oh", "You just entered a Panel Member which is not in the list. Please choose from the choices given.", "warning");
    </script>
    {% endif %}
    
  </body>
</html>
