{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Student - Research Defense Title Form</title>

  {% include 'css-main-cdn.html' %}
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center"
          href="{% url 'student-dashboard' %}">
          <img class="img-fluid" src="{% static 'img/TUP-Logo.png' %}" style="width: 30%;" alt="">
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'student-dashboard' %}">
              <i class="fa-solid fa-house"></i>
              <span>Home</span></a>
      </li>

      <!-- Nav Item - Group Collapse Menu -->
      <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGroup"
              aria-expanded="true" aria-controls="collapseGroup">
              <i class="fa-solid fa-users"></i>
              <span>Group</span>
          </a>
          <div id="collapseGroup" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" href="{% url 'student-group-members' %}">Members</a> 
                  <a class="collapse-item" href="{% url 'student-research-titles' %}">Research Titles</a>   
              </div>
          </div>
      </li>

      <!-- Nav Item - Forms Collapse Menu -->
      <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForms"
              aria-expanded="true" aria-controls="collapseForms">
              <i class="fa-solid fa-folder-open"></i>
              <span>Forms</span>
          </a>
          <div id="collapseForms" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">BET-3</h6>
                  <a class="collapse-item" href="{% url 'student-panel-invitation-bet3' %}">Panel Invitation</a>
                  <div class="collapse-divider"></div>
                  <h6 class="collapse-header">BET-5</h6>
              </div>
          </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - The Developers -->
      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="fa-solid fa-code"></i>
              <span>The Devs</span>
          </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

  </ul>
  <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        {% include 'topbar.html'%}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between">
            <h1 class="h3 text-gra-800">Research Title Defense Form</h1>
          </div>
          <h1 class="h6 mb-0 text-gray-800 mb-2">{{student_leader_data.research_title_defense_date}} -
            {{student_leader_data.research_title_defense_start_time}} to
            {{student_leader_data.research_title_defense_end_time}}</h1>

          <div class="row">
            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card bg-white text-dark shadow">
                <div class="card-body">

                  <div class="row">
                    <div class="col-sm-12 font-weight-bold">
                      Group Members:
                    </div>
                    <div class="col-sm-12">
                      - {{student_leader_full_name}}
                    </div>

                    {% if student_group_members %}
                    {% for group_member in student_group_members %}
                    <div class="col-sm-12">
                      - {{group_member.student_member_full_name}}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="col-sm-12 mt-4 font-weight-bold">
                      Course:
                    </div>
                    <div class="col-sm-12">
                      {{student_leader_data.course_major_abbr}}
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card bg-white text-dark shadow">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 font-weight-bold">
                      Research Titles:
                    </div>

                    {% if student_research_titles %}
                    {% for research_title in student_research_titles %}

                    {% if research_title.status == "Title Defense - Accepted" %}
                    <div class="col-sm-12">
                      - {{research_title.research_title}} - <span class="text-success">Accepted</span>
                    </div>
                    {% endif %}

                    {% if research_title.status == "Title Defense - Deferred" %}
                    <div class="col-sm-12">
                      - {{research_title.research_title}} - <span class="text-danger">Deferred</span>
                    </div>
                    {% endif %}

                    {% if research_title.status == "Title Defense - Revise Title" %}
                    <div class="col-sm-12">
                      - {{research_title.research_title}} - <span class="text-secondary">Accepted - Revise Title</span>
                    </div>
                    {% endif %}

                    {% if research_title.status == None %}
                    <div class="col-sm-12">
                      - {{research_title.research_title}}
                    </div>
                    {% endif %}

                    {% endfor %}
                    {% endif %}

                    {% if student_accepted_research_title %}
                    <div class="col-sm-12 mt-4 font-weight-bold">
                      Accepted Title:
                    </div>

                    <div class="col-sm-12">
                      {{student_accepted_research_title}}
                    </div>
                    {% endif %}

                    {% if student_revise_research_title %}
                    <div class="col-sm-12 mt-4 font-weight-bold">
                      Accepted - Revise Title:
                    </div>

                    <div class="col-sm-12">
                      {{student_revise_research_title}}
                    </div>
                    {% endif %}

                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-12 mb-3">
              <div class="card bg-white text-dark shadow">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 font-weight-bold">
                      Panel Members:
                    </div>

                    {% if panel_research_title_defense_form %}
                    {% for panel_member in panel_research_title_defense_form %}

                    {% if panel_member.is_panel_chairman == 1 %}
                    <div class="col-sm-12">
                      - {{panel_member.panel_full_name}} - <span class="text-success">Panel Chairman</span>
                    </div>
                    {% else %}
                    <div class="col-sm-12">
                      - {{panel_member.panel_full_name}}
                    </div>
                    {% endif %}

                    {% endfor %}
                    {% endif %}

                    <div class="col-sm-12 mt-4 font-weight-bold">
                     Subject Teacher:
                    </div>

                    <div class="col-sm-12">
                      {{student_leader_data.bet3_subject_teacher_name}}
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="btn btn-outline-success w-100">Download Form</a>
          </div>
        </div>

        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  {% include 'logout-modal.html' %} 
  
  {% include 'script-cdn.html' %}

</body>

</html>