{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Student - Panel Invitation</title>

    {% include 'css-main-cdn.html' %}
    <link href="{% static 'css/file-loader.css' %}" rel="stylesheet" />
  </head>

  <body id="page-top">
    <div id="wrapper">
      {% include 'student-form-sidebar.html' %}

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          {% include 'topbar.html'%}

          <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-3">
              <h1 class="h3 mb-0 text-gray-800">Panel Invitation (BET-3)</h1>
              <!-- <div class="float-right">
                            <button type="button" class="btn btn-success"><i class="fa-solid fa-file-pdf"></i> Download
                                Form</button>
                        </div> -->
            </div>

            <form method="POST">
              {% csrf_token %}

              <div class="card border-left-info shadow h-100 py-2 mb-3">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <h6 class="h4 mb-0 text-gray-800 mb-4">Group Members:</h6>

                      <div class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Student 1 - TUPC ID No. :</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.student_member_username_1}}" disabled />
                      </div>

                      <div class="form-group mb-5">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Student 1 - Name:</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.student_member_name_1}}" disabled />
                      </div>

                      <div class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Student 2 - TUPC ID No. :</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.student_member_username_2}}" disabled />
                      </div>

                      <div class="form-group mb-5">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Student 2 - Name:</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.student_member_name_2}}" disabled />
                      </div>

                      <div class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Student 3 - TUPC ID No. :</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.student_member_username_3}}" disabled />
                      </div>

                      <div class="form-group mb-5">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Student 3 - Name:</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.student_member_name_3}}" disabled />
                      </div>

                      <div class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Student 4 - TUPC ID No. :</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.student_member_username_4}}" disabled />
                      </div>

                      <div class="form-group mb-5">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Student 4 - Name:</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.student_member_name_4}}" disabled />
                      </div>

                      <div class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Student 5 - TUPC ID No. :</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.student_member_username_5}}" disabled />
                      </div>

                      <div class="form-group mb-5">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Student 5 - Name:</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.student_member_name_5}}" disabled />
                      </div>

                      <div id="research_title_1" class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Course</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.course}}" disabled />
                      </div>

                      <div id="research_title_1" class="form-group mb-5">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Major</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.major}}" disabled />
                      </div>

                      <h6 class="h4 mb-0 text-gray-800 mb-2">Research Title:</h6>

                      <div id="research_title_1" class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #1</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.research_title_1}}" disabled />
                      </div>

                      <div id="research_title_1" class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #2</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.research_title_2}}" disabled />
                      </div>

                      <div id="research_title_1" class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #3</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.research_title_3}}" disabled />
                      </div>

                      <div id="research_title_1" class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #4</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.research_title_4}}" disabled />
                      </div>

                      <div id="research_title_1" class="form-group mb-5">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Research Title #5</h6>
                        <input type="text" class="form-control" value="{{user_panel_invitation.research_title_5}}" disabled />
                      </div>

                      <h6 class="h6 mb-0 text-gray-800 mt-5 mb-2">Date & Time of Defense:</h6>
                      <div id="research_title_1" class="form-group mb-4">
                        <input type="text" class="form-control" value="{{user_panel_invitation.defense_date}} - {{user_panel_invitation.defense_start_time}} to {{user_panel_invitation.defense_end_time}}" disabled />
                      </div>

                      <!-- Department Head Start -->
                      <h6 class="h6 mb-0 text-gray-800 mb-2">Department of Industrial Technology - Head:</h6>
                      <div class="form-group mb-5">
                        <input type="text" class="form-control" value="{{user_panel_invitation.dit_head_name}}" disabled />
                      </div>
                      <!-- Department Head End -->

                      <!-- Panel Members Start -->
                      <h6 class="h4 mb-0 text-gray-800 mb-3">Panel Members:</h6>

                      {% if user_panel_invitation.panel_member_name_1 != "" %}
                      <div id="research_title_1" class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Panel Member</h6>
                        <div class="row">
                          <div id="panel_1_name" class="col-sm-12 mb-2">
                            <input type="text" class="form-control" value="{{user_panel_invitation.panel_member_name_1}}" disabled />
                          </div>
                          <div id="panel_1_download" class="col-sm-12 col-md-6" style="display: None">
                            <a href="{{panel_1_download}}" class="btn btn-outline-success w-100">Download</a>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      
                      {% if user_panel_invitation.panel_member_name_2 != "" %}
                      <div id="research_title_1" class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Panel Member</h6>
                        <div class="row">
                          <div id="panel_2_name" class="col-sm-12 mb-2">
                            <input type="text" class="form-control" value="{{user_panel_invitation.panel_member_name_2}}" disabled />
                          </div>
                          <div id="panel_2_download" class="col-sm-12 col-md-6" style="display: None">
                            <a href="{{panel_2_download}}" class="btn btn-outline-success w-100">Download</a>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      
                      {% if user_panel_invitation.panel_member_name_3 != "" %}
                      <div id="research_title_1" class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Panel Member</h6>
                        <div class="row">
                          <div id="panel_3_name" class="col-sm-12 mb-2">
                            <input type="text" class="form-control" value="{{user_panel_invitation.panel_member_name_3}}" disabled />
                          </div>
                          <div id="panel_3_download" class="col-sm-12 col-md-6" style="display: None">
                            <a href="{{panel_3_download}}" class="btn btn-outline-success w-100">Download</a>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      
                      {% if user_panel_invitation.panel_member_name_4 != "" %}
                      <div id="research_title_1" class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Panel Member</h6>
                        <div class="row">
                          <div id="panel_4_name" class="col-sm-12 mb-2">
                            <input type="text" class="form-control" value="{{user_panel_invitation.panel_member_name_4}}" disabled />
                          </div>
                          <div id="panel_4_download" class="col-sm-12 col-md-6" style="display: None">
                            <a href="{{panel_4_download}}" class="btn btn-outline-success w-100">Download</a>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      
                      {% if user_panel_invitation.panel_member_name_5 != "" %}
                      <div id="research_title_1" class="form-group mb-3">
                        <h6 class="h6 mb-0 text-gray-800 mb-2">Panel Member</h6>
                        <div class="row">
                          <div id="panel_5_name" class="col-sm-12 mb-2">
                            <input type="text" class="form-control" value="{{user_panel_invitation.panel_member_name_5}}" disabled />
                          </div>
                          <div id="panel_5_download" class="col-sm-12 col-md-6" style="display: None">
                            <a href="{{panel_5_download}}" class="btn btn-outline-success w-100">Download</a>
                          </div>
                        </div>
                      </div>
                      {% endif %}

                      {% if user_panel_invitation.form_status == 'Complete' %}
                      <form method="POST">
                        {% csrf_token %}
                        <button type="submit" id="generate_form_button" class="btn btn-outline-success w-100">GENERATE FORM</button>
                      </form>
                      {% endif %}

                      <!-- <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">1</span>
                        </div>
                        <select class="custom-select" name="panel1_input" required>
                          <option selected>Choose panel member here...</option>
                          {% for panel in panel_members %} 
                          {% if panel.middle_name == "" %}
                          <option value="{{panel.username}}">{{panel.honorific}} {{panel.first_name}} {{panel.last_name}}</option>
                          {% else %}
                          <option value="{{panel.username}}">{{panel.honorific}} {{panel.first_name}} {{panel.middle_name}} {{panel.last_name}}</option>
                          {% endif %} 
                          {% endfor %}
                        </select>
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">2</span>
                        </div>
                        <select class="custom-select" name="panel2_input" required>
                          <option selected>Choose panel member here...</option>
                          {% for panel in panel_members %} {% if panel.middle_name == "" %}
                          <option value="{{panel.username}}">{{panel.honorific}} {{panel.first_name}} {{panel.last_name}}</option>
                          {% else %}
                          <option value="{{panel.username}}">{{panel.honorific}} {{panel.first_name}} {{panel.middle_name}} {{panel.last_name}}</option>
                          {% endif %} {% endfor %}
                        </select>
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">3</span>
                        </div>
                        <select class="custom-select" name="panel3_input" required>
                          <option selected>Choose panel member here...</option>
                          {% for panel in panel_members %} {% if panel.middle_name == "" %}
                          <option value="{{panel.username}}">{{panel.honorific}} {{panel.first_name}} {{panel.last_name}}</option>
                          {% else %}
                          <option value="{{panel.username}}">{{panel.honorific}} {{panel.first_name}} {{panel.middle_name}} {{panel.last_name}}</option>
                          {% endif %} {% endfor %}
                        </select>
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">4</span>
                        </div>
                        <select class="custom-select" name="panel4_input" required>
                          <option selected>Choose panel member here...</option>
                          {% for panel in panel_members %} {% if panel.middle_name == "" %}
                          <option value="{{panel.username}}">{{panel.honorific}} {{panel.first_name}} {{panel.last_name}}</option>
                          {% else %}
                          <option value="{{panel.username}}">{{panel.honorific}} {{panel.first_name}} {{panel.middle_name}} {{panel.last_name}}</option>
                          {% endif %} {% endfor %}
                        </select>
                      </div>

                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text">5</span>
                        </div>
                        <select class="custom-select" name="panel5_input" required>
                          <option selected>Choose panel member here...</option>
                          {% for panel in panel_members %} {% if panel.middle_name == "" %}
                          <option value="{{panel.username}}">{{panel.honorific}} {{panel.first_name}} {{panel.last_name}}</option>
                          {% else %}
                          <option value="{{panel.username}}">{{panel.honorific}} {{panel.first_name}} {{panel.middle_name}} {{panel.last_name}}</option>
                          {% endif %} {% endfor %}
                        </select>
                      </div> -->
                      <!-- Panel Members End -->
                      <!-- <button type="submit" class="btn btn-outline-success w-100">Submit</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content img-fluid">
              <div class="modal-body text-center">
                <div class="spinner-border file-spinner mt-5 mb-3" style="width: 6rem; height: 6rem" role="status">
                  <span class="sr-only">Loading...</span>
                </div>

                <div class="container move mt-5 mb-5 file-show" style="display: none">
                  <svg class="file fadein" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                    <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                    <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                  </svg>

                  <svg class="file zoomin" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                    <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                    <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                  </svg>

                  <svg class="file zoomout" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                    <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                    <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                    <path class="file-check done" d="M26.8,20.6L14.9,32.5l-5.7-5.7l2.1-2.1l3.6,3.6l9.8-9.9L26.8,20.6z" />
                    <circle class="file-loading load" cx="13" cy="21" r="7.7"></circle>
                  </svg>

                  <svg class="file fadeout" x="0px" y="0px" width="36px" height="43px" viewBox="0 0 36 43">
                    <path class="file-body" d="M36,43H0V0h24.7L36,11.3V43z" />
                    <path class="file-bend" d="M24.7,0L36,11.3H24.7V0z" />
                    <path class="file-check" d="M26.8,20.6L14.9,32.5l-5.7-5.7l2.1-2.1l3.6,3.6l9.8-9.9L26.8,20.6z" />
                  </svg>
                </div>
                <h3 id="simpleUsage" class="mb-5"></h3>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include 'logout-modal.html' %} {% include 'script-cdn.html' %} {% include 'alert-validation.html' %}

    <script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>

    {% if response == 'sweet inc form' %}
    <script>
      Swal.fire("Uh-oh", "Sorry, can't fill-up  form at the moment. \n Please try again later.", "warning");
      setTimeout(function () {
        window.location.replace("{% url 'student-dashboard' %}");
      }, 3000);
    </script>
    {% endif %} {% if response == 'sweet panel not in the list' %}
    <script>
      Swal.fire("Uh-oh", "You just entered a Panel Member which is not in the list. Please choose from the choices given.", "warning");
    </script>
    {% endif %} {% if response == 'sweet student member exist 2' %}
    <script>
      Swal.fire("Uh-oh", "Group Member #2 {{username_exist}}, \n already has an account. One Account per group is allowed.", "warning");
    </script>
    {% endif %} {% if response == 'sweet student member exist 3' %}
    <script>
      Swal.fire("Uh-oh", "Group Member #3 {{username_exist}}, \n already has an account. One Account per group is allowed.", "warning");
    </script>
    {% endif %} {% if response == 'sweet student member exist 4' %}
    <script>
      Swal.fire("Uh-oh", "Group Member #4 {{username_exist}}, \n already has an account. One Account per group is allowed.", "warning");
    </script>
    {% endif %} {% if response == 'sweet student member exist 5' %}
    <script>
      Swal.fire("Uh-oh", "Group Member #5 {{username_exist}}, \n already has an account. One Account per group is allowed.", "warning");
    </script>
    {% endif %} {% if response == 'sweet no DIT Head' %}
    <script>
      Swal.fire("Uh-oh", "Can't fill up at the moment. It seems like there is no DIT Head assigned yet. Please try again later.", "warning");
      setTimeout(function () {
        window.location.replace("{% url 'student-dashboard' %}");
      }, 3000);
    </script>
    {% endif %} {% if response == 'sweet inc panel' %}
    <script>
      Swal.fire("Uh-oh", "Can't fill up at the moment. It seems like there is not enough Panel assigned yet. Please try again later.", "warning");
      setTimeout(function () {
        window.location.replace("{% url 'student-dashboard' %}");
      }, 3000);
    </script>
    {% endif %} {% if response == 'sweet no defense schedule' %}
    <script>
      Swal.fire("Uh-oh", "Can't fill up at the moment. There is no Defense Schedule available. Please try again later.", "warning");
      setTimeout(function () {
        window.location.replace("{% url 'student-dashboard' %}");
      }, 3000);
    </script>
    {% endif %} {% if response == 'sweet same username' %}
    <script>
      Swal.fire("Invalid", "You entered the same Username with the other Group Members.", "error");
    </script>
    {% endif %} {% if response == 'sweet invalid suffix' %}
    <script>
      Swal.fire("Invalid", "You entered a Suffix that is not in the list. Please one from the choices given.", "error");
    </script>
    {% endif %} {% if response == 'sweet same research title' %}
    <script>
      Swal.fire("Invalid", "You entered the same Research Title with the other input field.", "error");
    </script>
    {% endif %} {% if response == 'sweet defense schedule doesnt exist' %}
    <script>
      Swal.fire("Invalid", "You entered a Defense Schedule that is not in the list. Please one from the choices given.", "error");
    </script>
    {% endif %} {% if response == 'sweet same panel' %}
    <script>
      Swal.fire("Invalid", "You entered the same Panel Member with the other input field.", "error");
    </script>
    {% endif %} {% if response == 'sweet invalid panel' %}
    <script>
      Swal.fire("Invalid", "You entered a Panel Member that is not in the list. Please one from the choices given.", "error");
    </script>
    {% endif %} {% if response == 'sweet group member exist' %}
    <script>
      Swal.fire("{{existing_member.username}} {{existing_member.student_member_name}}", "It seems that this student is already part of group.", "warning");
    </script>
    {% endif %} {% if response == 'sweet research title exist' %}
    <script>
      Swal.fire("{{existing_research_title.research_title}}", "The Research Title you entered already exist.", "warning");
    </script>
    {% endif %} {% if response == 'sweet downloaded' %}
    <script>
      Swal.fire("Success", "The Panel Invitation Form has been generated successfully. You can now download the file.", "success");

      let panel_1_name = document.querySelector("#panel_1_name");
      let panel_2_name = document.querySelector("#panel_2_name");
      let panel_3_name = document.querySelector("#panel_3_name");
      let panel_4_name = document.querySelector("#panel_4_name");
      let panel_5_name = document.querySelector("#panel_5_name");

      let panel_1_download = document.querySelector("#panel_1_download");
      let panel_2_download = document.querySelector("#panel_2_download");
      let panel_3_download = document.querySelector("#panel_3_download");
      let panel_4_download = document.querySelector("#panel_4_download");
      let panel_5_download = document.querySelector("#panel_5_download");

      let generate_form_button = document.querySelector("#generate_form_button");

      generate_form_button.setAttribute("type", "button");
      generate_form_button.style.display = "none";

      panel_1_name.classList.add("col-md-6");
      panel_1_download.style.display = "block";

      panel_2_name.classList.add("col-md-6");
      panel_2_download.style.display = "block";

      panel_3_name.classList.add("col-md-6");
      panel_3_download.style.display = "block";

      panel_4_name.classList.add("col-md-6");
      panel_4_download.style.display = "block";

      panel_5_name.classList.add("col-md-6");
      panel_5_download.style.display = "block";
    </script>
    {% endif %}

    <script>
      generate_form_button.addEventListener("click", function () {
        $(document).ready(function () {
          generate_form_button.style.display = "none";

          $("#myModal").modal();

          new TypeIt("#simpleUsage", {
            speed: 100,
            waitUntilVisible: true,
            loop: true,
          })
            .type("Loading...", { delay: 2000 })
            .delete(10)
            .type("Extracting data...", { delay: 3000 })
            .delete(18)
            .type("Generating PDF...", { delay: 3000 })
            .go();
        });
      });
    </script>
  </body>
</html>
