{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Subject Teacher - BET-3 - Proposal Defense Day</title>

  {% include 'css-main-cdn.html' %}
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center"
        href="{% url 'subject-teacher-dashboard' %}">
        <img class="img-fluid" src="{% static 'img/TUP-Logo.png' %}" style="width: 30%" alt="" />
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'subject-teacher-dashboard' %}">
          <i class="fa-solid fa-house"></i>
          <span>Home</span></a>
      </li>

      <!-- Divider -->
      <!-- <hr class="sidebar-divider"> -->

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
          aria-controls="collapsePages">
          <i class="fa-solid fa-folder-open"></i>
          <span>Research Title Defense</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'subject-teacher-students-title-defense-schedule-dashboard' %}">Schedule
              Dashboard</a>
            <a class="collapse-item" href="{% url 'subject-teacher-set-research-title-defense-schedule' %}">Set
              Schedule</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Tables -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <span>History</span></a>
    </li> -->

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Nav Item - The Developers -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-code"></i>
          <span>The Devs</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block" />

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) (Visible Only XS) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-lg-inline text-gray-600 small">{{currently_loggedin_user_full_name}} <br />
                  <div class="float-right">Subject Teacher</div>
                </span>
                <img class="img-profile rounded-circle" src="{% static 'img/user.png' %}" />
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'subject-teacher-profile' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between">
            <h1 class="h3 text-gray-800">Research Proposal Defense Day</h1>
          </div>
          <h1 class="h6 mb-0 text-gray-800 mb-2">{{student_leader_data.research_proposal_defense_date}} -
            {{student_leader_data.research_proposal_defense_start_time}} to
            {{student_leader_data.research_proposal_defense_end_time}}</h1>

          <div class="row">

            <div class="col-12 mb-3">
              <div class="card bg-white text-dark shadow">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 mt-2">
                     <h6>Research Title:</h6>
                    </div>
                    <div class="col-sm-12">
                      <h4>{{accepted_research_title}}</h4>
                      {% if accepted_research_title.proposal_defense_status == "Accepted with Revision" %}
                      <h6 style="display: inline;">Verdict: <h6 class="text-success" style="display: inline;">{{accepted_research_title.proposal_defense_status}}</h6></h6>
                      {% endif %}
                      {% if accepted_research_title.proposal_defense_status == "Deferred with Revision" %}
                      <h6 style="display: inline;">Verdict: <h6 class="text-info" style="display: inline;">{{accepted_research_title.proposal_defense_status}}</h6></h6>
                      {% endif %}
                      {% if accepted_research_title.proposal_defense_status == "Not Accepted" %}
                      <h6 style="display: inline;">Verdict: <h6 class="text-danger" style="display: inline;">{{accepted_research_title.proposal_defense_status}}</h6></h6>
                      {% endif %}
                     </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 mb-3">
              <div class="card bg-white text-dark shadow">
                <div class="card-body">

                  <div class="row">
                    <div class="col-sm-12 font-weight-bold">
                      Group Members:
                    </div>
                    <div class="col-sm-12">
                      - {{student_leader_full_name}}
                    </div>

                    {% if group_members %}
                    {% for group_member in group_members %}
                    <div class="col-sm-12">
                      - {{group_member.student_member_full_name}}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="col-sm-12 mt-4 font-weight-bold">
                      Course:
                    </div>
                    <div class="col-sm-12">
                      {{student_leader_data.course_major_abbr}}
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- DataTales Example -->
          <div class="card shadow mb-2">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Panel ID No.</th>
                      <th>Panel Name</th>
                      <th>Attendance</th>
                      <th>Critique Signature</th>
                      <th>Proposal Defense Signature</th>
                      <th>Vote Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Panel ID No.</th>
                      <th>Panel Name</th>
                      <th>Attendance</th>
                      <th>Critique Signature</th>
                      <th>Defense Signature</th>
                      <th>Vote Status</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                  <tbody>

                    {% if panel_members %}
                      {% for panel_member in present_panel_members %}
                      <tr>
                        <td>{{panel_member.panel_username}}</td>
                        <td>{{panel_member.panel_full_name}}</td>
                        <td class="text-center text-success">
                          Present
                        </td>
                        <td>pending</td>
                        <td>pending</td>
                        <td>pending</td>
                        <td></td>
                      </tr>
                      {% endfor %}

                    {% else %}

                      {% if not panel_chairman %}
                        {% for panel_member in present_panel_members_proposal_defense %}
                        <tr>
                          <td>{{panel_member.panel_username}}</td>
                          <td>{{panel_member.panel_full_name}}</td>
                          <td class="text-success">
                            Present
                          </td>
                          <td>Pending</td>
                          <td>Pending</td>
                          <td>Pending</td>
                          <td class="text-success">
                            <a id="panel_chairman_{{panel_member.id}}" data-id="{{panel_member.id}}"
                              class="btn btn-outline-success mb-2 w-100" href="#">Set as Panel Chairman</a>
                          </td>
                          
                        </tr>
                        {% endfor %}
                      {% endif %}
                    {% endif %}


                    {% if panel_chairman %}
                    {% for panel_member in present_panel_members_proposal_defense %}
                    <tr>
                      <td>{{panel_member.panel_username}}</td>
                      <td>{{panel_member.panel_full_name}}</td>
                      {% if panel_member.is_panel_chairman == 1 %}
                        <td class="text-success">
                          Present - Panel Chairman
                        </td>
                        {% if panel_member.critique_sign_response == True %}
                          <td class="text-success">Done</td>
                        {% else %}
                          <td>Pending</td>
                        {% endif %}

                        {% if panel_member.panel_signature_response == True and panel_member.panel_chairman_signature_response == True %}
                          <td class="text-success">Done</td>
                        {% else %}
                          <td>Pending</td>
                        {% endif %}

                      {% else %}
                        <td class="text-success">
                          Present
                        </td>

                        {% if panel_member.critique_sign_response == True %}
                          <td class="text-success">Done</td>
                        {% else %}
                          <td>Pending</td>
                        {% endif %}

                        {% if panel_member.panel_signature_response == True %}
                          <td class="text-success">Done</td>
                        {% else %}
                          <td>Pending</td>
                        {% endif %}

                      {% endif %}
<!-- 
                      <td>Pending</td> -->

                      {% if not panel_member.proposal_defense_response %}
                        <td>Pending</td>
                      {% else %}
                        <td class="text-success">Done</td>
                      {% endif %}
                      

                      <td></td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                    {% for panel_member in panel_members %}
                    <tr>
                      <td>{{panel_member.panel_username}}</td>
                      <td>{{panel_member.panel_full_name}}</td>
                      <td>pending</td>
                      <td>pending</td>
                      <td>pending</td>
                      <td>pending</td>
                      <td class="text-center">
                        <a id="present_{{panel_member.id}}" data-id="{{panel_member.id}}"
                          class="btn btn-outline-success mb-2 w-100" href="#">Present</a>
                        <a id="absent_{{panel_member.id}}" data-id="{{panel_member.id}}"
                          class="btn btn-outline-danger mb-2 w-100" href="#">Absent</a>
                      </td>
                    </tr>
                    {% endfor %}

                    {% for panel_member in absent_panel_members %}
                    <tr>
                      <td>{{panel_member.panel_username}}</td>
                      <td>{{panel_member.panel_full_name}}</td>
                      <td class="text-center text-danger">
                        Absent
                      </td>
                      <td>N/A</td>
                      <td>N/A</td>
                      <td>N/A</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          {% if panel_chairman %}
            {% if not start_critique %}
            <a class="btn btn-outline-success mb-2 w-100"
              href="{% url 'subject-teacher-bet3-proposal-defense-day-start-critique' student_leader_data.username %}">Start Critique</a>
            {% endif %}
          {% endif %}

          {% if panel_chairman %}
            {% if start_critique %}
              {% if not end_critique %}
              <a class="btn btn-outline-danger mb-2 w-100"
                href="{% url 'subject-teacher-bet3-proposal-defense-day-end-critique' student_leader_data.username %}">End Critique</a>
                {% endif %}
              {% endif %}
          {% endif %}

          {% if end_critique %}
            {% if not check_pending_critique %}
              {% if not start_voting %}
                <a class="btn btn-outline-success mb-2 w-100"
                  href="{% url 'subject-teacher-bet3-proposal-defense-day-start-voting' student_leader_data.username %}">Start Voting</a>
              {% endif %}
            {% endif %}
          {% endif %}

          {% if start_voting %}
            {% if done_panel_chairman_sign %}
              {% if not all_pending_panel_signature_response %}
                  {% if not end_voting %}
                    <a class="btn btn-outline-success mb-2 w-100" href="{% url 'subject-teacher-bet3-proposal-defense-day-end-voting' student_leader_data.username %}">End Voting</a>
                  {% endif %}
                {% endif %}
            {% endif %}
          {% endif %}

          {% if end_voting %}
            {% if pending_proposal_defense %}
              <a class="btn btn-outline-danger mb-2 w-100" href="{% url 'subject-teacher-bet3-proposal-defense-day-end-defense' student_leader_data.username %}">End Defense</a>
            {% endif %}
          {% endif %}

        </div>

        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Present Modal -->
  <div class="modal fade" id="presentModal" tabindex="-1" aria-labelledby="presentModal" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Attendance Check</h5>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to mark <span id="panel_name_present"></span> as present?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <a id="present_btn" class="btn btn-outline-success" type="button" href="#">Confirm - Present</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Absent Modal -->
  <div class="modal fade" id="absentModal" tabindex="-1" aria-labelledby="absentModal" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Attendance Check</h5>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to mark <span id="panel_name_absent"></span> as absent?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <a id="absent_btn" class="btn btn-outline-danger" type="button" href="#">Confirm - Absent</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Panel Chairman Modal -->
  <div class="modal fade" id="panelChairmanModal" tabindex="-1" aria-labelledby="panelChairmanModal" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Panel Chairman</h5>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to assign <span id="panel_name"></span> as Panel Chairman?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
          <a id="panel_chairman_btn" class="btn btn-outline-success" type="button" href="#">Yes</a>
        </div>
      </div>
    </div>
  </div>

  {% include 'logout-modal.html' %} {% include 'script-cdn.html' %}

  {% for panel_member in panel_members %}
  <script>
    document.getElementById('present_' + '{{panel_member.id}}').addEventListener("click", function () {
      data_id = $(document.getElementById('present_' + '{{panel_member.id}}')).attr("data-id")

      document.getElementById('panel_name_present').textContent = "{{panel_member.panel_full_name}}";
      document.getElementById("present_btn").href = "{% url 'subject-teacher-bet3-proposal-defense-day-present' id=0 %}"
        .replace(/0/, data_id);
      $("#presentModal").modal()
    });

    document.getElementById('absent_' + '{{panel_member.id}}').addEventListener("click", function () {
      data_id = $(document.getElementById('present_' + '{{panel_member.id}}')).attr("data-id")

      document.getElementById('panel_name_absent').textContent = "{{panel_member.panel_full_name}}";
      document.getElementById("absent_btn").href = "{% url 'subject-teacher-bet3-proposal-defense-day-absent' id=0 %}"
        .replace(/0/, data_id);
      $("#absentModal").modal()
    });
  </script>
  {% endfor %}

  {% for panel_member in present_panel_members_proposal_defense %}
  <script>
    document.getElementById('panel_chairman_' + '{{panel_member.id}}').addEventListener("click", function () {
      data_id = $(document.getElementById('panel_chairman_' + '{{panel_member.id}}')).attr("data-id")

      document.getElementById('panel_name').textContent = "{{panel_member.panel_full_name}}";
      document.getElementById("panel_chairman_btn").href =
        "{% url 'subject-teacher-bet3-proposal-defense-day-panel-chairman' id=0 %}".replace(/0/, data_id);
      $("#panelChairmanModal").modal()
    });
  </script>
  {% endfor %}

  {% if response == 'sweet present panel' %}
  <script>
    Swal.fire("Present", "{{panel_invitation_data.panel_full_name}} is marked as present", "success");
    setTimeout(function () {
      window.location.replace(
        "{% url 'subject-teacher-title-defense-day' panel_invitation_data.student_leader_username %}");
    }, 2000);
  </script>
  {% endif %}
</body>

</html>