{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Subject Teacher - Set Schedule</title>

    {% include 'css-main-cdn.html' %}
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'subject-teacher-dashboard' %}">
          <img class="img-fluid" src="{% static 'img/TUP-Logo.png' %}" style="width: 30%" alt="" />
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'subject-teacher-dashboard' %}">
            <i class="fa-solid fa-house"></i>
            <span>Home</span></a
          >
        </li>

        <!-- Divider -->
        <!-- <hr class="sidebar-divider"> -->

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fa-solid fa-folder-open"></i>
            <span>Research Title Defense</span>
          </a>
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{% url 'subject-teacher-research-title-defense-dashboard' %}">Schedule Dashboard</a>
              <a class="collapse-item" href="{% url 'subject-teacher-set-research-title-defense-schedule' %}">Set Schedule</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - Tables -->
        <!-- <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <span>History</span></a>
    </li> -->

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Nav Item - The Developers -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa-solid fa-code"></i>
            <span>The Devs</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) (Visible Only XS) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-lg-inline text-gray-600 small"
                    >{{currently_loggedin_user_full_name}} <br />
                    <div class="float-right">Subject Teacher</div>
                  </span>
                  <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}" />
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="{% url 'subject-teacher-profile' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-3">
              <h1 class="h3 mb-0 text-gray-800">Title Defense - Available Schedule</h1>
            </div>

            <form id="course_available_sched" method="POST">
              {% csrf_token %}

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Course:</label>
                </div>
                <select id="course_list" class="custom-select" name="course_input" required>
                  <option selected>---</option>
                  {% for course in course_handled_list %}
                  <option value="{{course}}">{{course}}</option>
                  {% endfor %}
                </select>
              </div>
            </form>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <!-- <div class="card-header py-3 text-center">
                    <h6 class="m-0 font-weight-bold text-primary">Pending Dashboard</h6>
                </div> -->
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Ref No.</th>
                        <th>Course</th>
                        <th>Date & Time</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Ref No.</th>
                        <th>Course</th>
                        <th>Date & Time</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for course_schedule in course_defense_schedules %}
                      <tr>
                        <td>{{course_schedule.id}}</td>
                        <td>{{course_schedule.course}}</td>
                        <td>{{course_schedule.date}} - {{course_schedule.start_time}} to {{course_schedule.end_time}}</td>
                        {% if course_schedule.status == "Available" %}
                        <td class="text-success">{{course_schedule.status}}</td>
                        <td class="text-center">
                          <a type="button" class="btn btn-outline-danger" href="{% url 'subject-teacher-delete-research-title-defense-schedule' course_schedule.id %}"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                        {% else %}
                        <td class="text-danger">{{course_schedule.status}}</td>
                        <td class="text-center"></td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="d-sm-flex align-items-center justify-content-between mb-3">
              <h1 class="h3 mb-0 text-gray-800">Title Defense - Add Schedule</h1>
            </div>

            <form method="POST" action="{% url 'subject-teacher-save-research-title-defense-schedule' %}">
              {% csrf_token %}

              <div class="form-group mb-3">
                <label>Course:</label>
                <select id="course_input" class="custom-select" name="course_input" required>
                  <option selected>---</option>
                  {% for course in course_handled_list %}
                  <option value="{{course}}">{{course}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group mb-3">
                <label>Date:</label>
                <input id="defense_date" type="date" name="date_input" class="form-control" required />
              </div>

              <div class="form-group mb-3">
                <label>Time:</label>
                <select id="time_list" class="custom-select" name="time_input" required>
                  <option value="Default" selected>---</option>
                  <option value="8:00 AM-9:00 AM">8:00 AM - 9:00 AM</option>
                  <option value="9:00 AM-10:00 AM">9:00 AM - 10:00 AM</option>
                  <option value="10:00 AM-11:00 AM">10:00 AM - 11:00 AM</option>
                  <option value="1:00 PM-2:00 PM">1:00 PM - 2:00 PM</option>
                  <option value="2:00 PM-3:00 PM">2:00 PM - 3:00 PM</option>
                  <option value="3:00 PM-4:00 PM">3:00 PM - 4:00 PM</option>
                  <option value="4:00 PM-5:00 PM">4:00 PM - 5:00 PM</option>
                </select>
              </div>

              <button type="submit" class="btn btn-outline-success w-100">Save</button>
            </form>
          </div>

          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include 'logout-modal.html' %} {% include 'script-cdn.html' %} {% include 'alert-validation.html' %}

    <script>
      let today = new Date();
      let dd = today.getDate() + 5; // +7 to enable the date 1 week from todays date
      let mm = today.getMonth() + 1; //January is 0 so need to add 1 to make it 1
      let yyyy = today.getFullYear();

      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }

      min_date = yyyy + "-" + mm + "-" + dd;
      document.getElementById("defense_date").setAttribute("min", min_date);
    </script>

    <script>
      const picker = document.getElementById("defense_date");
      picker.addEventListener("input", function (e) {
        var day = new Date(this.value).getUTCDay();
        if ([6, 0].includes(day)) {
          e.preventDefault();
          this.value = "";
          iziToast.error({
            title: "Invalid",
            message: "Weekend Dates is not allowed.",
            position: "topCenter",
            timeout: 5000,
          });
        }
      });
    </script>

    <script>
      let course_list = document.querySelector("#course_list");

      course_list.addEventListener("change", (event) => {
        if (course_list.value == "---") {
          console.log("1");
          window.location.replace("{% url 'subject-teacher-set-research-title-defense-schedule' %}");
        } else {
          document.getElementById("course_available_sched").submit();
        }
      });
    </script>

    {% if response == 'sweet invalid course' %}
    <script>
      Swal.fire("Invalid", "You just entered a Course which is not in the list. Please choose one from the choices given.", "error");
      setTimeout(function () {
        window.location.replace("{% url 'subject-teacher-set-research-title-defense-schedule' %}");
      }, 2000);
    </script>
    {% endif %} {% if response == 'sweet invalid defense time' %}
    <script>
      Swal.fire("Invalid", "You just entered a Defense Time which is not in the list. Please choose one from the choices given.", "error");
      setTimeout(function () {
        window.location.replace("{% url 'subject-teacher-set-research-title-defense-schedule' %}");
      }, 2000);
    </script>
    {% endif %} {% if response == 'schedule saved' %}
    <script>
      Swal.fire("Saved", "The Defense Date has been recorded.", "success");
      setTimeout(function () {
        window.location.replace("{% url 'subject-teacher-set-research-title-defense-schedule' %}");
      }, 2000);
    </script>
    {% endif %} {% if response == 'scheduled date exist' %}
    <script>
      Swal.fire("Uh-oh", "The Defense Date you entered is already recorded.", "error");
      setTimeout(function () {
        window.location.replace("{% url 'subject-teacher-set-research-title-defense-schedule' %}");
      }, 2000);
    </script>
    {% endif %} {% if response == 'schedule deleted' %}
    <script>
      Swal.fire("Deleted", "The Defense Date has been deleted.", "warning");
      setTimeout(function () {
        window.location.replace("{% url 'subject-teacher-set-research-title-defense-schedule' %}");
      }, 2000);
    </script>
    {% endif %} {% if response == 'sweet schedule not found' %}
    <script>
      Swal.fire("Uh-oh", "The Defense Date you are trying to delete doesn't exist.", "error");
      setTimeout(function () {
        window.location.replace("{% url 'subject-teacher-set-research-title-defense-schedule' %}");
      }, 2000);
    </script>
    {% endif %}
  </body>
</html>
