{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Subject Teacher - Title Defense Day</title>

  {% include 'css-main-cdn.html' %}
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'subject-teacher-dashboard' %}">
          <div class="img-fluid text-center"><img src="{% static 'img/TUP-Logo.png' %}" style="max-width: 55%;" alt="">
          </div>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'subject-teacher-dashboard' %}">
          <i class="fa-solid fa-house"></i>
          <span>Home</span></a>
      </li>

      <!-- Divider -->
      <!-- <hr class="sidebar-divider"> -->

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTitleDefense" aria-expanded="true" aria-controls="collapseTitleDefense">
          <i class="fa-solid fa-folder-open"></i>
          <span>Topic Defense</span>
        </a>
        <div id="collapseTitleDefense" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'subject-teacher-title-defense-schedule-dashboard' %}">My Schedule</a>
            <a class="collapse-item" href="{% url 'subject-teacher-students-title-defense-schedule-dashboard' %}">Students Schedule</a>
            <a class="collapse-item" href="{% url 'subject-teacher-set-research-title-defense-schedule' %}">Set Schedule</a>
            <a class="collapse-item" href="{% url 'subject-teacher-bet3-title-defense-logs' %}">Logs</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProposalDefense" aria-expanded="true" aria-controls="collapseProposalDefense">
          <i class="fa-solid fa-folder-open"></i>
          <span>Proposal Defense</span>
        </a>
        <div id="collapseProposalDefense" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'subject-teacher-proposal-defense-schedule-dashboard' %}">My Schedule</a>
            <a class="collapse-item" href="{% url 'subject-teacher-students-proposal-defense-schedule-dashboard' %}">Students Schedule</a>
            <a class="collapse-item" href="{% url 'subject-teacher-set-research-proposal-defense-schedule' %}">Set Schedule</a>
            <a class="collapse-item" href="{% url 'subject-teacher-bet3-proposal-defense-logs' %}">Logs</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFinalDefense" aria-expanded="true" aria-controls="collapseFinalDefense">
          <i class="fa-solid fa-folder-open"></i>
          <span>Final Defense</span>
        </a>
        <div id="collapseFinalDefense" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'subject-teacher-final-defense-schedule-dashboard' %}">My Schedule</a>
            <a class="collapse-item" href="{% url 'subject-teacher-students-final-defense-schedule-dashboard' %}">Students Schedule</a>
            <a class="collapse-item" href="{% url 'subject-teacher-set-research-final-defense-schedule' %}">Set Schedule</a>
            <a class="collapse-item" href="{% url 'subject-teacher-bet5-final-defense-logs' %}">Logs</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'subject-teacher-research-titles' %}">
          <i class="fa-solid fa-book"></i>
          <span>Research Titles</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Nav Item - The Developers -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'subject-teacher-the-devs' %}">
          <i class="fa-solid fa-code"></i>
          <span>The Devs</span></a>
      </li>

      <!-- Divider -->`
      <hr class="sidebar-divider d-none d-md-block" />

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        {% include 'subject-teacher-topbar.html' %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between">
            <h1 class="h3 text-gra-800">Research Title Defense</h1>
          </div>
          <h1 class="h6 mb-0 text-gray-800 mb-2">{{student_leader_data.research_title_defense_date}} -
            {{student_leader_data.research_title_defense_start_time}} to
            {{student_leader_data.research_title_defense_end_time}}</h1>

          <div class="row">
            <div class="col-md-6 col-sm-12 mb-3">
              <div class="card bg-white text-dark shadow">
                <div class="card-body">

                  <div class="row">
                    <div class="col-sm-12 font-weight-bold">
                      Group Members:
                    </div>
                    <div class="col-sm-12">
                      - {{student_leader_full_name}}
                    </div>

                    {% if group_members %}
                    {% for group_member in group_members %}
                    <div class="col-sm-12">
                      - {{group_member.student_member_full_name}}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="col-sm-12 mt-4 font-weight-bold">
                      Course:
                    </div>
                    <div class="col-sm-12">
                      {{student_leader_data.course_major_abbr}}
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 mb-3">
              <div class="card bg-white text-dark shadow">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 font-weight-bold">
                      Research Titles:
                    </div>

                    {% if research_titles %}
                    {% for research_title in research_titles %}

                    {% if research_title.title_defense_status == "Accepted" %}
                    <div class="col-sm-12">
                      - {{research_title.research_title}} - <span class="text-success">Accepted</span>
                    </div>
                    {% endif %}

                    {% if research_title.title_defense_status == "Deferred" %}
                    <div class="col-sm-12">
                      - {{research_title.research_title}} - <span class="text-danger">Deferred</span>
                    </div>
                    {% endif %}

                    {% if research_title.title_defense_status == "Revise Title" %}
                    <div class="col-sm-12">
                     
                      {% if research_title_revise.old_research_title %}
                      - {{research_title.old_research_title}} - <span class="text-info">Revise Title</span>
                      {% else %}
                      - {{research_title.research_title}} - <span class="text-info">Revise Title</span>
                      {% endif %}
                    </div>
                    {% endif %}

                    {% if research_title.status == "Title Defense - Pending" %}
                    <div class="col-sm-12">
                      - {{research_title.research_title}}
                    </div>
                    {% endif %}

                    {% endfor %}
                    {% endif %}

                    {% if research_title_accepted.research_title %}
                    <div class="col-sm-12 mt-4 font-weight-bold">
                      Accepted Title:
                    </div>

                    <div class="col-sm-12">
                      {{research_title_accepted.research_title}}
                    </div>

                    {% elif research_title_revise.research_title %}
                    <div class="col-sm-12 mt-4 font-weight-bold">
                      Accepted - Revise Title:
                    </div>

                    <div class="col-sm-12">
                      {% if research_title_revise.old_research_title %}
                      {{research_title_revise.old_research_title}}
                      {% else %}
                      {{research_title_revise.research_title }}
                      {% endif %}
                    </div>


                    <div class="col-sm-12 mt-4 font-weight-bold">
                      Suggested Title:
                    </div>

                    <div class="col-sm-12">
                      {{research_title_revise.suggested_title}}
                    </div>
                    {% endif %}

                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- DataTales Example -->
          <div class="card shadow mb-2">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Panel ID No.</th>
                      <th>Panel Name</th>
                      <th>Attendance</th>
                      <th>Signature</th>
                      <th>Vote Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Panel ID No.</th>
                      <th>Panel Name</th>
                      <th>Attendance</th>
                      <th>Signature</th>
                      <th>Vote Status</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                  <tbody class="text-dark">

                    {% if panel_members %}
                    {% for panel_member in present_panel_members %}
                    <tr>
                      <td>{{panel_member.panel_username}}</td>
                      <td>{{panel_member.panel_full_name}}</td>
                      <td class="text-center text-success">
                        Present
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    {% endfor %}

                    {% else %}

                    {% if not panel_chairman%}
                    {% for panel_member in present_panel_members_title_defense %}
                    <tr>
                      <td>{{panel_member.panel_username}}</td>
                      <td>{{panel_member.panel_full_name}}</td>
                      <td class="text-success">
                        Present
                      </td>
                      <td></td>
                      <td></td>
                      <td class="text-success">
                        <a id="panel_chairman_{{panel_member.id}}" data-id="{{panel_member.id}}"
                          class="btn btn-outline-success mb-2 w-100" href="#}">Set as Panel Chairman</a>
                      </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    {% endif %}


                    {% if panel_chairman %}
                    {% for panel_member in present_panel_members_title_defense %}
                    <tr>
                      <td>{{panel_member.panel_username}}</td>
                      <td>{{panel_member.panel_full_name}}</td>
                      {% if panel_member.is_panel_chairman == 1 %}
                        <td class="text-success">
                          Present - Panel Chairman
                        </td>

                        {% if panel_member.panel_signature_response == 1 %}
                            <td class="text-success">Done</td>
                        {% else %}
                          <td>Pending</td>
                        {% endif %}

                        {% else %}
                        <td class="text-success">
                          Present
                        </td>

                        {% if panel_member.panel_signature_response == 1 %}
                            <td class="text-success">Done</td>
                        {% else %}
                          <td>Pending</td>
                        {% endif %}

                      {% endif %}
                      {% if panel_member.form_status == "completed" %}
                      <td class="text-success">
                        Done
                      </td>
                      {% else %}
                      <td class="text-secondary">
                        Pending
                      </td>
                      {% endif %}

                      <td></td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                    {% for panel_member in panel_members %}
                    <tr>
                      <td>{{panel_member.panel_username}}</td>
                      <td>{{panel_member.panel_full_name}}</td>
                      <td>pending</td>
                      <td>pending</td>
                      <td>pending</td>
                      <td class="text-center">
                        <a id="present_{{panel_member.id}}" data-id="{{panel_member.id}}"
                          class="btn btn-outline-success mb-2 w-100" href="#}">Present</a>
                        <a id="absent_{{panel_member.id}}" data-id="{{panel_member.id}}"
                          class="btn btn-outline-danger mb-2 w-100" href="#">Absent</a>
                      </td>
                    </tr>
                    {% endfor %}

                    {% for panel_member in absent_panel_members %}
                    <tr>
                      <td>{{panel_member.panel_username}}</td>
                      <td>{{panel_member.panel_full_name}}</td>
                      <td class="text-center text-danger">
                        Absent
                      </td>
                      <td>N/A</td>
                      <td>N/A</td>
                      <td></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
          {% if panel_chairman %}
            {% if not pending_signature_response %}
              {% if not start_voting %}
              <a class="btn btn-outline-success mb-2 w-100"
                href="{% url 'subject-teacher-title-defense-day-start-vote' student_leader_data.username %}">Start Title Voting</a>
              {% endif %}
            {% endif %}
          {% endif %}

          {% if not panel_members %}
          {% if not pending_title_defense_vote %}
          {% if has_accepted_title == None and research_title_revise == None and research_title_all_deferred == 0 %}
          <a class="btn btn-outline-danger mb-2 w-100"
            href="{% url 'subject-teacher-title-defense-day-close-vote' student_leader_data.username %}">Close Title
            Voting</a>
          {% endif %}
          {% endif %}
          {% endif %}
          
          {% if has_accepted_title != None %}
          {% if not title_defense_completed %}
          <form method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-danger mb-2 w-100">End Defense Session</button>
          </form>
          {% endif %}
          {% endif %}

          {% if research_title_revise != None %}
          {% if not title_defense_completed %}
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Suggested Title:</label>
              <input type="text" class="form-control" name="suggest_title_input" style="text-transform: capitalize"
                required>
              <small class="form-text text-muted">if applicable</small>
            </div>
            <button class="btn btn-outline-danger mb-2 w-100">End Defense Session</button>
          </form>
          {% endif %}
          {% endif %}

          {% if research_title_all_deferred != 0 %}
          {% if not title_defense_completed %}
          <form method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-danger mb-2 w-100">End Defense Session</button>
          </form>
          {% endif %}
          {% endif %}
        </div>

        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Present Modal -->
  <div class="modal fade" id="presentModal" tabindex="-1" aria-labelledby="presentModal" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Attendance Check</h5>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to mark <span id="panel_name_present"></span> as present?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <a id="present_btn" class="btn btn-outline-success" type="button" href="#">Confirm - Present</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Absent Modal -->
  <div class="modal fade" id="absentModal" tabindex="-1" aria-labelledby="absentModal" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Attendance Check</h5>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to mark <span id="panel_name_absent"></span> as absent?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <a id="absent_btn" class="btn btn-outline-danger" type="button" href="#">Confirm - Absent</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Panel Chairman Modal -->
  <div class="modal fade" id="panelChairmanModal" tabindex="-1" aria-labelledby="panelChairmanModal" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Panel Chairman</h5>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to assign <span id="panel_name"></span> as Panel Chairman?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
          <a id="panel_chairman_btn" class="btn btn-outline-success" type="button" href="#">Yes - Confirm</a>
        </div>
      </div>
    </div>
  </div>

  {% include 'logout-modal.html' %} {% include 'script-cdn.html' %}

  {% for panel_member in panel_members %}
  <script>
    document.getElementById('present_' + '{{panel_member.id}}').addEventListener("click", function () {
      data_id = $(document.getElementById('present_' + '{{panel_member.id}}')).attr("data-id")

      document.getElementById('panel_name_present').textContent = "{{panel_member.panel_full_name}}";
      document.getElementById("present_btn").href = "{% url 'subject-teacher-title-defense-day-present' id=0 %}"
        .replace(/0/, data_id);
      $("#presentModal").modal()
    });

    document.getElementById('absent_' + '{{panel_member.id}}').addEventListener("click", function () {
      data_id = $(document.getElementById('present_' + '{{panel_member.id}}')).attr("data-id")

      document.getElementById('panel_name_absent').textContent = "{{panel_member.panel_full_name}}";
      document.getElementById("absent_btn").href = "{% url 'subject-teacher-title-defense-day-absent' id=0 %}"
        .replace(/0/, data_id);
      $("#absentModal").modal()
    });
  </script>
  {% endfor %}

  {% for panel_member in present_panel_members_title_defense %}
  <script>
    document.getElementById('panel_chairman_' + '{{panel_member.id}}').addEventListener("click", function () {
      data_id = $(document.getElementById('panel_chairman_' + '{{panel_member.id}}')).attr("data-id")

      document.getElementById('panel_name').textContent = "{{panel_member.panel_full_name}}";
      document.getElementById("panel_chairman_btn").href =
        "{% url 'subject-teacher-title-defense-day-panel-chairman' id=0 %}".replace(/0/, data_id);
      $("#panelChairmanModal").modal()
    });
  </script>
  {% endfor %}

  {% if response == 'sweet present panel' %}
  <script>
    Swal.fire("Present", "{{panel_invitation_data.panel_full_name}} is marked as present", "success");
    setTimeout(function () {
      window.location.replace(
        "{% url 'subject-teacher-title-defense-day' panel_invitation_data.student_leader_username %}");
    }, 2000);
  </script>
  {% endif %}
</body>

</html>