{% load static %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'subject-teacher-dashboard' %}">
      <div class="img-fluid text-center"><img src="{% static 'img/TUP-Logo.png' %}" style="max-width: 55%;" alt="">
      </div>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'subject-teacher-dashboard' %}">
      <i class="fa-solid fa-house"></i>
      <span>Home</span></a>
  </li>

  <!-- Divider -->
  <!-- <hr class="sidebar-divider"> -->

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTitleDefense" aria-expanded="true" aria-controls="collapseTitleDefense">
      <i class="fa-solid fa-folder-open"></i>
      <span>Topic Defense</span>
    </a>
    <div id="collapseTitleDefense" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'subject-teacher-title-defense-schedule-dashboard' %}">My Schedule</a>
        <a class="collapse-item" href="{% url 'subject-teacher-students-title-defense-schedule-dashboard' %}">Students Schedule</a>
        <a class="collapse-item" href="{% url 'subject-teacher-set-research-title-defense-schedule' %}">Set Schedule</a>
        <a class="collapse-item" href="{% url 'subject-teacher-bet3-title-defense-logs' %}">Logs</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProposalDefense" aria-expanded="true" aria-controls="collapseProposalDefense">
      <i class="fa-solid fa-folder-open"></i>
      <span>Proposal Defense</span>
    </a>
    <div id="collapseProposalDefense" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'subject-teacher-proposal-defense-schedule-dashboard' %}">My Schedule</a>
        <a class="collapse-item" href="{% url 'subject-teacher-students-proposal-defense-schedule-dashboard' %}">Students Schedule</a>
        <a class="collapse-item" href="{% url 'subject-teacher-set-research-proposal-defense-schedule' %}">Set Schedule</a>
        <a class="collapse-item" href="{% url 'subject-teacher-bet3-proposal-defense-logs' %}">Logs</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFinalDefense" aria-expanded="true" aria-controls="collapseFinalDefense">
      <i class="fa-solid fa-folder-open"></i>
      <span>Final Defense</span>
    </a>
    <div id="collapseFinalDefense" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'subject-teacher-final-defense-schedule-dashboard' %}">My Schedule</a>
        <a class="collapse-item" href="{% url 'subject-teacher-students-final-defense-schedule-dashboard' %}">Students Schedule</a>
        <a class="collapse-item" href="{% url 'subject-teacher-set-research-final-defense-schedule' %}">Set Schedule</a>
        <a class="collapse-item" href="{% url 'subject-teacher-bet5-final-defense-logs' %}">Logs</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'subject-teacher-acknowledgement-receipt' %}">
      <i class="fa-solid fa-file-lines"></i>
      <span>Acknowledgement Receipt</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'subject-teacher-research-titles' %}">
      <i class="fa-solid fa-book"></i>
      <span>Research Titles</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Nav Item - The Developers -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'subject-teacher-the-devs' %}">
      <i class="fa-solid fa-code"></i>
      <span>The Devs</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->